<style>
    .data{
        color: rgb(223,184,23);
    }
    .description{
        width: 100%;
        padding-left: 0px;
        text-align: center;
    }
    .unite{
        font-size: 13px;
    }
    .pie-charts .percent2 {
        display: inline-block;
        line-height: 84px;
        z-index: 2;
        font-size: 16px;
    }
    .pie-charts .chart, .pie-charts .chart2{
        height: 70px;
        margin-top: 10px;
        width: 70px;
        float: left;
        margin-right: 5px;
    }
    .pie-charts .description{
        display: block;
    }

    @media screen and (min-width: 1325px) {
        .pie-chart-item-container {
            width: 20% !important;
        }
    }

    .description {
        display: inline-block;
        padding: 20px 0 0 0px;
        font-size: 18px;
        opacity: 0.9;
    }
    .pie-charts .description .description-stats {
        padding-top: 8px;
        font-size: 20px !important;
    }
</style>
<!-- -----------------------  START OTHERS ------------------------------------------ -->
<div ui-view="" autoscroll="true" autoscroll-body-top="" class="ng-scope">
    <div class="row pie-charts">
        <div class="pie-chart-item-container ng-scope">
            <div ba-panel="">
                <div class="animated zoomIn" zoom-in="">
                    <!--  <div class="pie-chart-item ng-scope">
                         <div class="chart" rel="rgba(102, 102, 102, 0.2)" data-percent="60"><span
                                 class="percent">61</span>
                           <canvas height="84" width="84"></canvas>
                         </div>
                         -->
                    <div class="description">
                        <div class="ng-binding">Vitesse Max</div>
                        <div class="description-stats ng-binding"><span class="data">{{speed}} <span class="unite">km/h</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pie-chart-item-container ng-scope">
            <div ba-panel="">
                <div class="animated zoomIn" zoom-in="">
                    <div class="description">
                        <div class="ng-binding">Emission CO2 <span style="font-size : 10px;">(moy)</span></div>
                        <div class="description-stats ng-binding"><span class="data">{{avgCO2 |number: 2}} <span class="unite">g/km</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pie-chart-item-container ng-scope">
            <div ba-panel="">
                <div class="animated zoomIn" zoom-in="">
                    <div class="description">
                        <div class="ng-binding">Eco-Conduite <span style="font-size : 10px;">(moy)</span></div>
                        <div class="description-stats ng-binding"><span class="data">{{avgScore|number:0}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     <!--   <div class="pie-chart-item-container ng-scope">
            <div ba-panel="">
                <div class="animated zoomIn" zoom-in="">
                    <div class="pie-chart-item ng-scope">
                        <div class="chart" rel="rgba(102, 102, 102, 0.2)" data-percent="{{avgScore|number:0}}"><span
                                class="percent" style="line-height: 70px;">{{avgScore | number:0}} </span>
                            <canvas height="50" width="50"></canvas>
                        </div>
                        <div class="description">
                            <div class="ng-binding">Eco-Conduite : <span style="font-size : 10px;"> {{avgScore | number:0}}  (moy)</span></div>

                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="pie-chart-item-container ng-scope">
            <div ba-panel="">
                <div class="animated zoomIn" zoom-in="">
                    <div class="description">
                        <div class="ng-binding">Consommation Carburant</div>
                        <div class="description-stats ng-binding"><span class="data">{{totalFuel | number:2}} <span class="unite">L</span></span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pie-chart-item-container ng-scope">
            <div ba-panel="">
                <div class="animated zoomIn" zoom-in="">
                    <div class="description">
                        <div class="ng-binding">Distance Totale</div>
                        <div class="description-stats ng-binding"><span class="data">{{distanceTotale | number:2}} <span class="unite">km </span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- -------------------------------------------------------- -->

<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
            <div class="ibox float-e-margins">
                <br/>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-9 m-b-xs">
                            <div data-toggle="buttons" class="btn-group">
                                <label class="btn btn-sm btn-white" ng-class="{'active':showOne}"> <input type="radio" id="option1" name="options" ng-click="changeView('showOne')"> Jour </label>
                                <label class="btn btn-sm btn-white" ng-class="{'active':showTwo}"> <input type="radio" id="option2" name="options" ng-click="changeView('showTwo')"> Semaine actuelle </label>
                                <label class="btn btn-sm btn-white" ng-class="{'active':showThree}"> <input type="radio" id="option3" name="options" ng-click="changeView('showThree')"> Mois précédent </label>
                                <label class="btn btn-sm btn-white" ng-class="{'active':showFour}"> <input type="radio" id="option4" name="options" ng-click="changeView('showFour')"> Année précédente </label>
                                <label class="btn btn-sm btn-white" ng-class="{'active':showFive}"> <input type="radio" id="option5" name="options" ng-click="changeView('showFive')"> Tous les trips </label>
                            </div>
                        </div>
                        <!-- <div class="col-sm-3">
                            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                        </div> -->
                    </div>

                    <!-- SMART TABLE : By Day -->
                    <div class="row" ng-show="showOne">
                        <div class="col-md-12">
                            <div ba-panel  ba-panel-class="with-scroll">
                                <div include-with-scope="app/pages/trip/tripList/tripByDay.html"></div>
                            </div>
                        </div>
                    </div>

                    <!-- SMART TABLE : By Week -->
                    <div class="row" ng-show="showTwo">
                        <div class="col-md-12">
                            <div ba-panel  ba-panel-class="with-scroll">
                                <div include-with-scope="app/pages/trip/tripList/tripByWeek.html"></div>
                            </div>
                        </div>
                    </div>

                    <!-- SMART TABLE : By Month -->
                    <div class="row" ng-show="showThree">
                        <div class="col-md-12">
                            <div ba-panel  ba-panel-class="with-scroll">
                                <div include-with-scope="app/pages/trip/tripList/tripByMonth.html"></div>
                            </div>
                        </div>
                    </div>

                    <!-- SMART TABLE : By Year -->
                    <div class="row" ng-show="showFour">
                        <div class="col-md-12">
                            <div ba-panel  ba-panel-class="with-scroll">
                                <div include-with-scope="app/pages/trip/tripList/tripByYear.html"></div>
                            </div>
                        </div>
                    </div>

                    <!-- SMART TABLE : All Trips -->
                    <div class="row" ng-show="showFive">
                        <div class="col-md-12">
                            <div ba-panel  ba-panel-class="with-scroll">
                                <div include-with-scope="app/pages/trip/tripList/allTrips.html"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div></div>