<style>
    .inlineText{
        white-space: nowrap;
    }
    .cut-text {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 150px;
        white-space: nowrap;
        display: block;
    }
    .btnExport {
        float: right;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 7px;
        text-align: right;
        padding: 0px !important;
        /*color: #24304B;*/
    }

    a.btnExport:hover {
        -webkit-transform: none;
        transform: none;
    }
</style>
<div class="widgets">
    <div class="horizontal-scroll">
        <div class="form-group select-page-size-wrap ">
            <label>
                <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                        ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                </select>
            </label>
        </div>
        <div class="clients-list">
            <ul class="nav nav-tabs">
                <li style="padding: 12px; float: right;">
                               <span class="pull-right small text-muted" style="color:#fff !important;">
                                    <span  ng-if="tab ==1">{{listResults.length}} Element(s)</span>
                                   <!--  <span  ng-if="tab == 2">{{resultUsers.length}} ELMTS</span> -->
                               </span>
                </li>
                <li ng-class="{'active' : tab == 1}"><a ng-click="tab = 1" ng-init="tab = 1"><i class="fa fa-map"></i> Liste des trajets</a>
                </li>
                <!--  <li ng-class="{'active' : tab == 2}"><a ng-click="tab = 2"><i class="fa fa-briefcase"></i> Companies</a></li> -->
            </ul>

            <!-- ------------------------- TABLE FOR EXPORT ---------------------------------- -->

            <a class="btn btnExport ng-scope" export-to-csv="">
                <i class="glyphicon glyphicon-new-window"></i> &nbsp;Export
            </a>
            <table style="display: none;">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Adresse Début</th>
                    <th>Adresse Fin</th>
                    <th>Durée</th>
                    <th>Eco-drive</th>
                    <th>Distance</th>
                    <th>Emission CO2</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                <tr  ng-repeat="trip in tripCtrl.tripListAllView | filter:conductorCtrl.keyword as listResults">
                    <td>{{trip.dateTrip |date:"dd MMM yyyy HH 'h':mm"}}</td>
                    <td>{{trip.startTripAdress}}</td>
                    <td>{{trip.endTripAdress}}</td>
                    <td>{{trip.duration}} min</td>
                    <td>{{trip.tripResult.standardScore *10 |number:0 }} %</td>
                    <td>{{trip.tripResult.totalDistance |number:2 }} Km</td>
                    <td>{{trip.tripResult.avgCo2Emiss | number:0 }} </td>
                    <td  ng-if="trip.type === 'PRO'">{{trip.type}}</td>
                </tr>
                </tbody>
            </table>
            <!-- -------------------------------------------------------------------------------------------------- -->

            <table class="table" st-safe-src="tripCtrl.lastDayTripList" st-table="tripCtrl.tripListDayView">
                <thead>
                <tr class="sortable ">
                    <th class="table-id">#</th>
                    <th st-sort="dateTrip">Date</th>
                    <th st-sort="startTripAdress">Adresse Début</th>
                    <th st-sort="endTripAdress">Adresse Fin</th>
                    <th st-sort="duration">Durée</th>
                    <th st-sort="tripResult.standardScore">Eco-drive</th>
                    <th st-sort="tripResult.totalDistance">Distance</th>
                    <th st-sort="tripResult.avgCo2Emiss">Emission CO2</th>
                    <th>Type</th>
                    <th>Détails</th>
                </tr>
                <tr>
                    <th></th>
                    <th><input st-search="dateTrip" placeholder="Search date Trip"
                               class="input-sm form-control search-input"
                               type="search"/></th>
                    <th><input st-search="startTripAdress" placeholder="Search start Trip Adress" class="input-sm form-control search-input"
                               type="search"/>
                    </th>
                    <th><input st-search="endTripAdress" placeholder="Search End Trip" class="input-sm form-control search-input"
                               type="search"/>
                    </th>
                    <th><input st-search="duration" placeholder="Search Duration" class="input-sm form-control search-input"
                               type="search"/>
                    </th>
                    <th><input st-search="tripResult.standardScore" placeholder="Score" class="input-sm form-control search-input"
                               type="search"/>
                    </th>
                    <th><input st-search="tripResult.totalDistance" placeholder="Score" class="input-sm form-control search-input"
                               type="search"/>
                    </th>
                    <th><input st-search="tripResult.avgCo2Emiss" placeholder="Score" class="input-sm form-control search-input"
                               type="search"/>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr  ng-repeat="trip in tripCtrl.tripListDayView | filter:conductorCtrl.keyword as listResults">
                    <td  class="table-id">{{$index + 1}}</td>
                    <td class="inlineText">{{trip.dateTrip |date:"dd MMM yyyy HH 'h':mm"}}</td>
                    <td><span class="cut-text">{{trip.startTripAdress}}</span></td>
                    <td><span class="cut-text">{{trip.endTripAdress}}</span></td>
                    <td align="center">{{trip.duration}} min</td>
                    <td align="center">{{trip.tripResult.standardScore *10 |number:0 }} %</td>
                    <td align="center">{{trip.tripResult.totalDistance |number:2 }} Km</td>
                    <td align="center">{{trip.tripResult.avgCo2Emiss | number:0 }} </td>
                    <td align="center"><span class="tag label label-primary" ng-if="trip.type === 'PRO'">{{trip.type}}</span></td>
                    <td align="center"><a ui-sref="main.trip.tripDetails({userId: tripCtrl.tripListYearView.userId, tripId: trip.id})">
                        <i class="fa fa-location-arrow text-navy" style="color: #e85656;"></i></a></td>
                    <!-- <td>{{trip.tripResult}}</td> -->
                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <td colspan="10" class="text-center">
                        <div st-pagination="" st-items-by-page="50" st-displayed-pages="5"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
         <!--   <div>
                <td >
                    <span class="label" ng-class="trip.type === 'PERSO' ? 'label-primary' : 'label-danger'">{{trip.type}}</span>
                </td>
                <td style="background:red;"><a ui-sref="trip-details({userId:tripCtrl.tripListView.userId, tripId: trip.id})"><i class="fa fa-lastfm fa-3 text-navy"></i></a></td>
            </div>
            -->
        </div>
    </div>
</div>
<style>
    .panel > .panel-body{
        padding: 0px 10px 10px 8px !important;
    }
</style>