<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Smarto</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li><a href="#/firmwares">Firmwares</a></li>
                <li><a href="#/attributes">attributes</a></li>
                <li><a href="#/troublecodes">Trouble Codes</a></li>
                <li><a href="#/supportedPIDs">Supported PIDs</a></li>
                <!-- 		      <li><a href="#/users">Users</a></li>
                 -->
                <li class="active"><a href="#/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>
