<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Smarto</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li><a href="#/firmwares">Firmwares</a></li>
                <li class="active"><a href="#/attributes">attributes</a></li>
                <li><a href="#/troublecodes">Trouble Codes</a></li>
                <li><a href="#/supportedPIDs">Supported PIDs</a></li>
                <!-- 		      <li><a href="#/users">Users</a></li>
                 -->
                <li><a href="#/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="generic-container"
     ng-controller="FirmwareController as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="lead">Gestion des Attributs : </span>
        </div>
        <div class="formcontainer">
            <form name="myForm"
                  ng-submit="ctrl.submitAttribut(ctrl.attribute.key)"
                  enctype="multipart/form-data" class="form-horizontal">
                <input type="hidden" ng-model="ctrl.attribute.key"/>

                <div class="row">
                    <label>Nom : </label> <input name="nom" type="text"
                                                 ng-model="ctrl.attribute.nom" required ng-minlength="2"
                                                 ng-maxlength="30" id="nom"/><br/>
                </div>

                <div class="row">
                    <label for="type">Type : </label> <select id="type"
                                                              ng-model="ctrl.attribute.type">
                    <option value="Text">Text</option>
                    <option value="Date">Date</option>
                </select><br/>
                </div>

                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit"
                               value="{{!ctrl.attribute.key ? 'Add' : 'Update'}}"
                               class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                        <button type="button" ng-click="ctrl.resetAttribut()"
                                class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset
                            Form
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>

    <div class="panel panel-default">

        <div class="panel-heading">
            <span class="lead">Liste des Attributs </span>
        </div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Type</th>
                    <th width="20%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="a in ctrl.listFields">
                    <td><span ng-bind="a.key"></span></td>
                    <td><span ng-bind="a.nom"></span></td>
                    <td><span ng-bind="a.type"></span></td>
                    <td>
                        <button type="button" ng-click="ctrl.editAttribut(a.key)"
                                class="btn btn-success custom-width">Edit
                        </button>
                        <button type="button" ng-click="ctrl.removeAttribut(a.key)"
                                class="btn btn-danger custom-width">Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>