<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Smarto</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li class="active"><a href="#/firmwares">Firmwares</a></li>
                <li><a href="#/attributes">attributes</a></li>
                <li><a href="#/troublecodes">Trouble Codes</a></li>
                <li><a href="#/supportedPIDs">Supported PIDs</a></li>
                <!-- 		      <li><a href="#/users">Users</a></li>
                 -->
                <li><a href="#/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="generic-container"
     ng-controller="FirmwareController as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="lead">Gestion des Firmwares : </span>
        </div>
        <div class="formcontainer">
            <form name="myForm" ng-submit="ctrl.submit()"
                  enctype="multipart/form-data" class="form-horizontal">

                <input type="hidden" ng-model="ctrl.firmware.id"/>

                <div class="row">
                    <label>Fichier binaire : </label> <input type="file"
                                                             on-read-file="ctrl.showContent($fileContent)"
                                                             name="binaryfile"/><br/>
                </div>

                <div class="row">
                    <label>Version : </label> <input name="version" type="text"
                                                     ng-model="ctrl.firmware.version" required ng-minlength="2"
                                                     ng-maxlength="30" id="version"/><br/>
                </div>

                <div class="row">
                    <label for="role">Type : </label> <select id="role"
                                                              ng-model="ctrl.firmware.type">
                    <option value="ble">BLE</option>
                    <option value="can">CAN</option>
                </select><br/>
                </div>

                <div ng-repeat="a in ctrl.attributsListNull">
                    <div class="row">
                        <label> {{ a.nom }} : </label> <input name="a.nom" type="text"
                                                              ng-model="a.value" required ng-minlength="2"
                                                              ng-maxlength="30"
                                                              id="a.nom"/><br/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit"
                               value="{{!ctrl.firmware.id ? 'Add' : 'Update'}}"
                               class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                        <button type="button" ng-click="ctrl.reset()"
                                class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset
                            Form
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="lead">Liste des Firmwares </span>
        </div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID.</th>
                    <th>Type</th>
                    <th>Version</th>
                    <th>Date de creation</th>
                    <th>Checksum</th>
                    <th ng-repeat="a in ctrl.firmwares[0].listFields"><span
                            ng-bind="a.nom"></span></th>
                    <th width="20%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="f in ctrl.firmwares">
                    <td><span ng-bind="f.id"></span></td>
                    <td><span ng-bind="f.type"></span></td>
                    <td><span ng-bind="f.version"></span></td>
                    <td><span ng-bind="f.creationDate"></span></td>
                    <td><span ng-bind="f.checksum"></span></td>
                    <th ng-repeat="a in f.listFields"><span ng-bind="a.value"></span></th>
                    <td>
                        <button type="button" ng-click="ctrl.edit(f.id)"
                                class="btn btn-success custom-width">Edit
                        </button>
                        <button type="button" ng-click="ctrl.remove(f.id)"
                                class="btn btn-danger custom-width">Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
