<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Smarto</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/">Home</a></li>
                <li><a href="#/firmwares">Firmwares</a></li>
                <li><a href="#/attributes">attributes</a></li>
                <li><a href="#/troublecodes">Trouble Codes</a></li>
                <li><a href="#/supportedPIDs">Supported PIDs</a></li>
                <!-- 		      <li><a href="#/users">Users</a></li>
                 -->
                <li><a href="#/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>


<h1>Greeting</h1>
<div ng-show="authenticated">
    <p>The ID is {{home.greeting.id}}</p>
    <p>The content is {{home.greeting.content}}</p>
</div>
<div ng-show="!authenticated">
    <p>Login to see your greeting</p>
</div>

<input type="hidden" ng-model="ctrl.user.id"/>

<div   ng-controller="UserControl as ctrl">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID.</th>
            <th>lastName</th>
            <th>firstName</th>
            <th>mail</th>
            <th>mdp</th>
            <th>role</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="f in ctrl.users">
            <td><span ng-bind="f.id"></span></td>
            <td><span ng-bind="f.lastname"></span></td>
            <td><span ng-bind="f.mail"></span></td>
            <td><span ng-bind="f.mail"></span></td>
            <td><span ng-bind="f.role"></span></td>


        </tr>
        </tbody>
    </table>
</div>
