<!DOCTYPE html>
<html>
<head>
    <title>MicroMink Board</title>
    <link rel="stylesheet"
          href="./bower_components/bootstrap-css-only/css/bootstrap.css" />
    <link href="./css/app.css" rel="stylesheet"></link>
</head>
<body ng-app="myApp">
<!--
<div  class="container">
    <ul class="nav nav-pills" ng-controller="login as nav" role="tablist">
        <li ng-class="{active:nav.tab('home')}"><a href="#/">home</a></li>
        <li ng-class="{active:nav.tab('login')}"><a href="#/login">login</a></li>
        <li><a href="#/">Home</a></li>
        <li ng-class="{active:nav.tab('FirmwareController')}"><a href="#/firmwares">Firmwares</a></li>
        <li ng-class="{active:nav.tab('FirmwareController')}"><a href="#/attributes">Attributes</a></li>
        <li ng-class="{active:nav.tab('TroubleCodeController')}"><a href="#/troublecodes">Trouble Codes</a></li>
        <li ng-class="{active:nav.tab('SupportedPIDController')}"><a href="#/supportedPIDs">Supported PIDs</a></li>
        <!-- <li ng-class="{active:nav.tab('UserController')}"><a href="#/users">Users</a></li>
         <li ng-show="authenticated"><a href="" ng-click="nav.logout()">logout</a></li>
        <li ng-class="{active:nav.tab('AboutController')}"><a href="#/about">About</a></li>
    </ul>
</div> -->

<div ng-view></div>

<script type="text/javascript"
        src="./bower_components/jquery-1.12.4.min.js"></script>
<script type="text/javascript"
        src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript"
        src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript"
        src="./bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript"
        src="./bower_components/angular-cookies.min.js"></script>

<script type="text/javascript" src="./js/app.js"></script>

<script type="text/javascript" src="./js/controller/login.js"></script>
<script type="text/javascript" src="./js/controller/home.js"></script>

<script type="text/javascript" src="./js/controller/controllersFirmware.js"></script>
<script type="text/javascript" src="./js/service/servicesFirmware.js"></script>

<script type="text/javascript" src="./js/controller/controllersTroubleCode.js"></script>
<script type="text/javascript" src="./js/service/servicesTroubleCode.js"></script>

<script type="text/javascript" src="./js/controller/controllersSupportedPID.js"></script>
<script type="text/javascript" src="./js/service/servicesSupportedPID.js"></script>

<script type="text/javascript" src="./js/controller/controllersUser.js"></script>
<script type="text/javascript" src="./js/service/servicesUser.js"></script>

</body>
</html>