<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Smarto</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li><a href="#/firmwares">Firmwares</a></li>
                <li><a href="#/attributes">attributes</a></li>
                <li><a href="#/troublecodes">Trouble Codes</a></li>
                <li class="active"><a href="#/supportedPIDs">Supported PIDs</a></li>
                <!-- 		      <li><a href="#/users">Users</a></li>
                 -->
                <li><a href="#/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="generic-container"
     ng-controller="SupportedPIDController as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="lead">Gestion des SupportedPIDs : </span>
        </div>
        <div class="formcontainer">
            <form name="myForm" ng-submit="ctrl.submit()"
                  enctype="multipart/form-data" class="form-horizontal">

                <input type="hidden" ng-model="ctrl.supportedPID.id"/>

                <div class="row">
                    <label>Code : </label> <input name="code" type="text"
                                                  ng-model="ctrl.supportedPID.code" required ng-maxlength="30"
                                                  id="code"/><br/>
                </div>

                <div class="row">
                    <label>Description : </label> <br/>
                    <textarea name='description'
                              ng-model="ctrl.supportedPID.description" required id='description'
                              rows="3" cols="50"></textarea>
                    <br/>
                </div>

                <div class="row">
                    <label>mode : </label> <input name="mode" type="text"
                                                  ng-model="ctrl.supportedPID.mode" required ng-maxlength="100"
                                                  id="mode"/><br/>
                </div>

                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit"
                               value="{{!ctrl.supportedPID.id ? 'Add' : 'Update'}}"
                               class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                        <button type="button" ng-click="ctrl.reset()"
                                class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset
                            Form
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="lead">Liste des Supporteds PID : </span>
        </div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Mode</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th width="20%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="s in ctrl.supportedPIDs">
                    <td><span ng-bind="s.id"></span></td>
                    <td><span ng-bind="s.mode"></span></td>
                    <td><span ng-bind="s.code"></span></td>
                    <td><span ng-bind="s.description"></span></td>
                    <td>
                        <button sype="button" ng-click="ctrl.edit(s.id)"
                                class="btn btn-success custom-width">Edit
                        </button>
                        <button type="button" ng-click="ctrl.remove(s.id)"
                                class="btn btn-danger custom-width">Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
