<style>
    .modal .modal-dialog{
        margin: 30px auto !important;
    }
</style>
<div class="modal-content">
  <div class="modal-header bg-info">
    <i class="ion-information-circled modal-icon"></i><span> Information</span>
  </div>
  <div class="modal-body text-center">

      <!-- replace content with an iframe that links someplace else -->
      <iframe  width="100%" height="400">
      </iframe>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss()">OK</button>
  </div>
</div>


