<style>
    .btnExport {
        float: right;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 7px;
        text-align: right;
        padding: 0px !important;
        /*color: #24304B;*/
    }

    a.btnExport:hover {
        -webkit-transform: none;
        transform: none;
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<div class="widgets">
    <div class="horizontal-scroll">
        <div class="form-group select-page-size-wrap ">
            <label>
                <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                        ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                </select>
            </label>
        </div>
        <div class="clients-list">
            <ul class="nav nav-tabs">
                <li style="padding: 12px; float: right;">
                   <span class="pull-right small text-muted"
                         style="color:#fff !important;">
                        <span ng-if="tab ==1">{{results.length}} Element(s)</span>
                       <!--  <span  ng-if="tab == 2">{{resultUsers.length}} ELMTS</span> -->
                   </span>
                </li>
                <li ng-class="{'active' : tab == 1}"><a ng-click="tab = 1" ng-init="tab = 1"> <i
                        class="fa fa-car"></i> Liste des véhicules</a>
                </li>
                <!--  <li ng-class="{'active' : tab == 2}"><a ng-click="tab = 2"><i class="fa fa-briefcase"></i> Companies</a></li> -->
            </ul>

            <!-- -------------------------------------- TABLE FOR EXPORT ---------------------------------------- -->

            <a class="btn btnExport ng-scope" export-to-csv="">
                <i class="glyphicon glyphicon-new-window"></i> &nbsp;Export
            </a>
            <table style="display: none;">
                <thead>
                <tr>
                    <th> Modèle</th>
                    <th>Engine</th>
                    <th>Fuel</th>
                    <th>Kilométrage</th>
                    <th>Puissance</th>
                    <th>DTC</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vehiculeCtrl.vehiculeListView | filter:vehiculeCtrl.keyword as results">
                    <td> {{item.uvehicleDetail[0].vehicle.model}}</td>
                    <td> {{item.uvehicleDetail[0].vehicle.engine}}</td>
                    <td> {{item.uvehicleDetail[0].vehicle.fuel}}</td>
                    <td>{{item.kilometrage | number:0}}</td>
                    <td> {{item.uvehicleDetail[0].vehicle.puissance}}</td>
                    <td ng-repeat="dtc in item.dtc track by $index">{{dtc}}</td>
                </tr>
                </tbody>
            </table>


            <!-- -------------------------------------------------------------------------------------------------- -->
            <table class="table" st-safe-src="vehiculeCtrl.vehiculeList" st-table="vehiculeCtrl.vehiculeListView">
                <thead>
                <tr class="sortable ">
                    <th st-sort-default="true">Logo</th>
                    <th st-sort="uvehicleDetail[0].vehicle.model"> Modèle</th>
                    <th st-sort="uvehicleDetail[0].vehicle.engine">Engine</th>
                    <th st-sort="uvehicleDetail[0].vehicle.fuel">Fuel</th>
                    <th st-sort="kilometrage">Kilométrage</th>
                    <th st-sort="uvehicleDetail[0].vehicle.puissance">Puissance</th>
                    <th st-sort="dtc">DTC</th>

                </tr>
                <tr>
                    <th></th>
                    <th><input st-search="model" placeholder="Make"
                               class="input-sm form-control search-input"
                               type="search"/></th>
                    <th><input st-search="engine" placeholder="Engine"
                               class="input-sm form-control search-input"
                               type="search"/>
                    </th>
                    <th><input st-search="fuel" placeholder="Fuel"
                               class="input-sm form-control search-input"
                               type="search"/></th>
                    <th><input st-search="kilometrage" placeholder="Kilométrage"
                               class="input-sm form-control search-input"
                               type="search"/>
                    </th>
                    <th><input st-search="puissance"
                               placeholder="Puissance"
                               class="input-sm form-control search-input"
                               type="search"/>
                    </th>

                    <th><input st-search="dtc" placeholder="Dtcs"
                               class="input-sm form-control search-input"
                               type="search"/>
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vehiculeCtrl.vehiculeListView | filter:vehiculeCtrl.keyword as results">
                    <td>
                            <span ng-init="limit = 3">

                                <img class="photo-icon" width="30"
                                     style="margin-bottom: 5px; margin-top: 5px; margin-right: 15px; "

                                     ng-src="{{::( item.uvehicleDetail[0].vehicle.make | limitTo : limit | lowercase | profilePicture:'png' )}}"/>
                            </span>
                    </td>
                    <td> {{item.uvehicleDetail[0].vehicle.model}}</td>
                    <td> {{item.uvehicleDetail[0].vehicle.engine}}</td>
                    <td> {{item.uvehicleDetail[0].vehicle.fuel}}</td>
                    <td align="center">
                        <span>{{item.kilometrage | number:0}} </span>
                    </td>
                    <td align="center"> {{item.uvehicleDetail[0].vehicle.puissance}}</td>
                    <td>
                        <span ng-repeat="dtc in item.dtc track by $index">
                                    <span>
                                         <a href="https://www.obd-codes.com/{{dtc}}" ng-click="open('app/pages/vehicules/infoModal.html')" class="tag label label-primary"> {{dtc}} </a>
                                    </span>
                                    <span>&nbsp;</span>
                          </span>

                        <script >
                            $(document).ready(function () {
                                $('a.label').on('click', function (e) {
                                    e.preventDefault();
                                    var url = $(this).attr('href');
                                    $(".modal-body").html('<iframe width="100%" height="400" frameborder="0" scrolling="yes" allowtransparency="no" src="' + url + '"></iframe>');
                                });
                            })
                        </script>
                    </td>

                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        <div st-pagination="" st-items-by-page="50" st-displayed-pages="5"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!--  TODO:SMARTO move to a style sheet-->
<style>
    .panel > .panel-body {
        padding: 0px 10px 10px 8px !important;
    }
</style>