<style>
    .label-primary {
        background: #F9C614;
        color: #0E1424;
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<form id="vehicule-list">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <!-- SMART TABLE -->
        <div class="horizontal-scroll">
            <div class="form-group select-page-size-wrap ">
                <label>
                    <select class="form-control selectpicker show-tick"
                            title="Rows on page" selectpicker
                            ng-model="smartTablePageSize"
                            ng-options="i for i in [5,10,15,20,25]">
                    </select>
                </label>
            </div>
            <div class="clients-list">
                <ul class="nav nav-tabs">
                    <li style="padding: 12px; float: right;">
									                               <span class="pull-right small text-muted"
                                                                         style="color:#fff !important;">
									                                   <!-- <span ng-if="tab ==1">{{results.length}} Element(s)</span> -->
                                                                       <!--  <span  ng-if="tab == 2">{{resultUsers.length}} ELMTS</span> -->
									                               </span>
                    </li>
                    <li ng-class="{'active' : tab == 1}"><a ng-click="tab = 1"
                                                            ng-init="tab = 1"><i
                            class="fa fa-car"></i> Liste des véhicules avec DTC</a>
                    </li>
                    <!--  <li ng-class="{'active' : tab == 2}"><a ng-click="tab = 2"><i class="fa fa-briefcase"></i> Companies</a></li> -->
                </ul>

                <!-- -------------------------------------- TABLE FOR EXPORT ---------------------------------------- -->

                <a class="btn btnExport ng-scope" export-to-csv="">
                    <i class="glyphicon glyphicon-new-window"></i> &nbsp;Export
                </a>
                <table style="display: none;">
                    <thead>
                    <tr>
                        <th> Modèle</th>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>DTC</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vehiculeCtrl.vehiculeListView2 | filter:vehiculeCtrl.keyword as results" ng-if="item.dtc">
                        <td> {{item.uvehicleDetail[0].vehicle.model}}</td>
                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>
                        <td ng-repeat="dtc in item.dtc track by $index">{{dtc}}</td>
                    </tr>
                    </tbody>
                </table>


                <!-- -------------------------------------------------------------------------------------------------- -->

                <table class="table" st-safe-src="vehiculeCtrl.vehiculeList"
                       st-table="vehiculeCtrl.vehiculeListView2">
                    <thead>
                    <tr class="sortable ">
                        <th st-sort-default="true">Logo</th>
                        <th st-sort="make"> Modèle</th>
                        <th st-sort="prenom">Prenom</th>
                        <th st-sort="nom">Nom</th>

                        <th st-sort="dtcs">DTC</th>

                    </tr>
                    <tr>
                        <th></th>
                        <th><input st-search="make" placeholder="Make"
                                   class="input-sm form-control search-input"
                                   type="search"/></th>

                        <th><input st-search="prenom" placeholder="Prenom"
                                   class="input-sm form-control search-input"
                                   type="search"/></th>

                        <th><input st-search="nom" placeholder="Nom"
                                   class="input-sm form-control search-input"
                                   type="search"/></th>


                        <th><input st-search="dtcs" placeholder="Dtcs"
                                   class="input-sm form-control search-input"
                                   type="search"/>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vehiculeCtrl.vehiculeListView2 | filter:vehiculeCtrl.keyword as results"
                        ng-if="item.dtc">
                        <td>
														  <span ng-init="limit = 3">

                                                                <img class="photo-icon" width="30"
                                                                     style="margin-bottom: 5px; margin-top: 5px; margin-right: 15px; "

                                                                     ng-src="{{::( item.uvehicleDetail[0].vehicle.make | limitTo : limit | lowercase | profilePicture:'png' )}}"/>
                                                                </span>
                        </td>
                        <td> {{item.uvehicleDetail[0].vehicle.model}}</td>

                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>

                        <td>
                            <span ng-repeat="dtc in item.dtc  track by $index">
                                <span> <a href="https://www.obd-codes.com/{{dtc}}" ng-click="open('app/pages/vehicules/infoModal.html')" class="tag label label-primary"> {{dtc}} </a>
                                    <!-- <a data-toggle="modal" data-target="#myModal" href="https://www.obd-codes.com/{{dtc}}"

                                           class="tag label label-primary">{{dtc}}</a>
                                           -->
                                </span>
                                <span>&nbsp;</span>
                            </span>

                            <script>
                                $('a.label').on('click', function(e) {
                                    e.preventDefault();
                                    var url = $(this).attr('href');
                                    $(".modal-body").html('<iframe width="100%" height="400" frameborder="0" scrolling="yes" allowtransparency="no" src="'+url+'"></iframe>');
                                });
                            </script>

                        </td>

                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="10000"
                                 st-displayed-pages="5"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</form>
<!--  TODO:SMARTO move to a style sheet-->