<style>
    .label-primary {
        background: #F9C614;
        color: #0E1424;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
            <div class="ibox float-e-margins">
                <br/>
                <div class="ibox-content">

<form id="vehicule-list">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                                <div data-toggle="buttons" class="btn-group">
                                    <label class="btn btn-sm btn-white" ng-class="{'active':show  === 1}"> <input type="radio" id="option1" name="options" ng-click="show = 1"> Liste des Vehicules </label>
                                    <label class="btn btn-sm btn-white" ng-class="{'active':show  === 2}"> <input type="radio" id="option2" name="options" ng-click="show = 2"> Liste des DTC </label>
                                </div>
                            </div>
                        </div>


                        <!-- SMART TABLE : By Day -->
                        <div class="row" ng-show="show==1">
                            <div class="col-md-12">
                                <div ba-panel  ba-panel-class="with-scroll">
                                    <div include-with-scope="app/pages/vehicules/listeVehicules.html"></div>
                                </div>
                            </div>
                        </div>

                        <!-- SMART TABLE : By Week -->
                        <div class="row" ng-show="show==2">
                            <div class="col-md-12">
                                <div ba-panel  ba-panel-class="with-scroll">
                                    <div include-with-scope="app/pages/vehicules/listeDTC.html"></div>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
                </div></div></div></div></div>
<!--  TODO:SMARTO move to a style sheet-->
<style>
    .panel > .panel-body {
        padding: 0px 10px 10px 8px !important;
    }
</style>