<div class="body-bg"></div>
<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

  <ba-sidebar></ba-sidebar>
  <page-top></page-top>

  <div class="al-main">
    <div class="al-content">
      <content-top></content-top>
      <div ui-view autoscroll="true" autoscroll-body-top></div>
    </div>
  </div>

  <footer class="al-footer clearfix">
    <div class="al-footer-right">Version 001</div>
    <div class="al-footer-main clearfix">
      <div class="al-copy"><i class="fa fa-copyright" aria-hidden="true"></i> Copyright CarAlgo 2018</div>
     <!-- <ul class="al-share clearfix">
        <li><i class="socicon socicon-facebook"></i></li>
        <li><i class="socicon socicon-twitter"></i></li>
        <li><i class="socicon socicon-google"></i></li>
        <li><i class="socicon socicon-github"></i></li>
      </ul>
      -->
    </div>
  </footer>

  <back-top></back-top>
</main>
<div id="preloader" ng-show="!$pageFinishedLoading">
  <div></div>
</div>