<style>
    .data{
        color: rgb(223,184,23);
    }
    .description{
        width: 100%;
        padding-left: 0px;
        text-align: center;
    }
    .unite{
        font-size: 13px;
    }
    .pie-charts .chart{
        height: 70px;
        margin-top: 10px;
        width: 70px;
        float: left;
        margin-right: 5px;
    }
    .pie-charts .description{
        display: block;
    }

    @media screen and (min-width: 1325px) {
        .pie-chart-item-container {
            width: 20% !important;
        }
    }

    .description {
        display: inline-block;
        padding: 20px 0 0 0px;
        font-size: 18px;
        opacity: 0.9;
    }
    .pie-charts .description .description-stats {
        padding-top: 8px;
        font-size: 20px !important;
    }
</style>
<!-- -----------------------  START OTHERS ------------------------------------------ -->
<div style="margin-bottom: 10px; float: left; width: 100%"> <b style="text-transform: capitalize"> {{first}} {{username}} </b> <span style="margin-left: 20px;"><i>Date : {{date | date:"dd MMM yyyy HH:mm"}}</i></span></div>
<div style="margin-bottom: 10px; float: left; width: 100%"> <b> Début trajet : </b>{{startAdress}} /  <b>Fin trajet : </b>{{endAdress}} </div>
<div ui-view="" autoscroll="true" autoscroll-body-top="" class="ng-scope">
    <div class="row pie-charts">
        <div class="pie-chart-item-container ng-scope">
            <div ba-panel="">
                <div class="animated zoomIn" zoom-in="">
                  <!--  <div class="pie-chart-item ng-scope">
                       <div class="chart" rel="rgba(102, 102, 102, 0.2)" data-percent="60"><span
                               class="percent">61</span>
                         <canvas height="84" width="84"></canvas>
                       </div>
                       -->
                    <div class="description">
                        <div class="ng-binding">Vitesse Max</div>
                        <div class="description-stats ng-binding"><span class="data">{{speed}} <span class="unite">km/h</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!--  </div> -->


            <div class="pie-chart-item-container ng-scope">
                <div ba-panel="">
                    <div class="animated zoomIn" zoom-in="">
                        <!-- <div class="pie-chart-item ng-scope">
                           <div class="chart" rel="rgba(102, 102, 102, 0.2)" data-percent="60"><span
                                   class="percent">61</span>
                             <canvas height="84" width="84"></canvas>
                           </div> -->
                        <div class="description">
                            <div class="ng-binding">Emission CO2</div>
                            <div class="description-stats ng-binding"><span class="data">{{co2 |number: 2}} <span class="unite">g/km</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="pie-chart-item-container ng-scope">
            <div ba-panel="">
                <div class="animated zoomIn" zoom-in="">
                    <div class="pie-chart-item ng-scope">

                        <div class="chart" rel="rgba(102, 102, 102, 0.2)" data-percent="{{note | number:0}} "><span
                                class="percent" style="line-height: 70px;">{{note | number:0}} </span>
                            <canvas height="50" width="50"></canvas>
                        </div>
                    <div class="description">
                        <div class="ng-binding">Eco-Conduite</div>

                    </div>
                </div>
            </div>
        </div>
        </div>



        <div class="pie-chart-item-container ng-scope">
            <div ba-panel="">
                <div class="animated zoomIn" zoom-in="">
                    <!-- <div class="pie-chart-item ng-scope">
                       <div class="chart" rel="rgba(102, 102, 102, 0.2)" data-percent="60"><span
                               class="percent">61</span>
                         <canvas height="84" width="84"></canvas>
                       </div> -->
                    <div class="description">
                        <div class="ng-binding">Consommation Carburant</div>
                        <div class="description-stats ng-binding"><span class="data">{{fuel | number:2}} <span class="unite">L/100 km</span></span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pie-chart-item-container ng-scope">
            <div ba-panel="">
                <div class="animated zoomIn" zoom-in="">
                    <!-- <div class="pie-chart-item ng-scope">
                       <div class="chart" rel="rgba(102, 102, 102, 0.2)" data-percent="60"><span
                               class="percent">61</span>
                         <canvas height="84" width="84"></canvas>
                       </div> -->
                    <div class="description">
                        <div class="ng-binding">Distance Totale</div>
                        <div class="description-stats ng-binding"><span class="data">{{distance | number:2}} <span class="unite">km </span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- -------------------------------------------------------- -->
<div class="widgets">
    <div class="row">
        <div class="col-md-12">
   <!--         <div ba-panel ba-panel-title="Trip Details" ba-panel-class="with-scroll">
        <div class="text-center m-t-lg">
                <h1>
                    Trip details
                </h1>
                <small>
                    View of different trip indicators

                    <i class="glyphicon glyphicon-pencil"></i>
                </small>
            </div>
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div>
                                        <span class="pull-right text-right">
                                        <small>Average value of sales in the past month in: <strong>United states</strong></small>
                                            <br/>
                                            All sales: 162,862
                                        </span>
                    <h3 class="font-bold no-margins">
                        Trip indicators
                    </h3>
                    <small>Engine Rpm</small>
                </div>

                <div class="m-t-sm">

                    <div class="row">
                        <div class="col-md-8">
                            <div>
                                <canvas linechart options="tripCtrl.lineOptions" data="tripCtrl.lineDataDashboard" height="114" responsive=true ></canvas>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="stat-list m-t-lg">
                                <li>
                                    <h2 class="no-margins">2,346</h2>
                                    <small>Total orders in period</small>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar" style="width: 48%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">4,422</h2>
                                    <small>Orders in last month</small>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar" style="width: 60%;"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="m-t-md">
                    <small class="pull-right">
                        <i class="fa fa-clock-o"> </i>
                        Update on 16.07.2015
                    </small>
                    <small>
                        <strong>Analysis of sales:</strong> The value has been changed over time, and last month reached a level over $50,000.
                    </small>
                </div>

            </div>
        </div>
    </div> -->
    <div class="col-lg-12">
             <div class="ibox-content" style="background-color: transparent">
            <leaflet-map ng-if="tripCtrl.points" points="tripCtrl.points"
                start-trip="tripCtrl.tripDetails.startTrip" end-trip="tripCtrl.tripDetails.endTrip">

            </leaflet-map>
             </div>
        </div>
    </div>
</div>
    </div></div>