<div class="feed-message" ng-repeat="trips in TripController.tripListView  ">

    <div class="message-header">
        <div class="text-block text-message" style="margin-left: 0px;">
            <!--  <div class="message-header">
                      <span class="author">

                          {{ ::vehicule.uvehicleDetail[0].vehicle.make}}
                      </span>
              </div>
              -->
            <div class="message-content line-clamp">
                                    <span> Adresse Début: {{ trips.startTripAdress}}
                                    </span>
            </div>
            <div class="message-content line-clamp">
                                    <span> Adresse Fin: {{ trips.endTripAdress}}
                                    </span>
            </div>
            <div class="message-content line-clamp">
                                    <span> <i class="fa fa-calendar" aria-hidden="true"></i>
                                        Date: {{ trips.dateTrip | date}}
                                    </span>
            </div>
            <div class="message-content line-clamp">
                                    <span> <i class="fa fa-bolt"></i> Durée: {{ trips.duration}}
                                    </span>
            </div>
            <div class="message-content line-clamp">
                                    <span> <i class="fa fa-user"></i>
                                        Distance : {{trips.distance}}
                                    </span>
            </div>

            <div class="message-content line-clamp">
                                    <span> <i class="fa fa-bolt"></i> Durée: {{ trips.tripResult.consFuelFromDep}}
                                    </span>
            </div>
            <div class="message-content line-clamp">
                                    <span> <i class="fa fa-bolt"></i> Durée: {{ trips.tripResult.proScore}}
                                    </span>
            </div>
            <div class="message-content line-clamp">
                                    <span> <i class="fa fa-bolt"></i> Durée: {{ trips.tripResult.avgCO2Emiss}}
                                    </span>
            </div>
        </div>
    </div>

</div>