<!-- <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script> -->


<style>
    .panelTabPosition {
        position: absolute;
        right: 0px;
        height: 100%;
        text-align: center;
        z-index: 99;
    }

    @media (max-width: 500px) {
        .panelTabPosition {
            position: relative;
        }
    }

    .leaflet-popup-tip-container {
        margin: none !important;
    }

    .Red {
        color: Red;
    }

    .description {
        width: 100% !important;
        padding-left: 0px !important;
        text-align: center;
    }

    .selected-user {
        border-style: solid;
        border-width: medium;
        border-color: #24304B;
        transition: all .2s ease-in-out;
        transform: scale(1.3);
    }

    .data {
        color: rgb(223, 184, 23);
    }

    .vhData {
        margin-left: 10px;
    }

    .feed-panel .panel-body {
        padding: 0px !important;
    }

    .message-content span i {
        padding-right: 5px;
    }

    .feed-message .message-header .author {
        text-transform: capitalize;
    }

    .line-clamp {
        overflow: visible;
    }

    .btnExport {
        float: right;
        margin-top: -8px;
        margin-bottom: 15px;
        width: 100%;
        text-align: right;
        padding: 0px !important;
        color: #24304B;
    }

    a.btnExport:hover {
        -webkit-transform: none;
        transform: none;
    }

    .feed-message .text-block {
        cursor: default !important;
    }
</style>

<!--  <pre id='data'></pre> -->

<!-- -----------------------  START OTHERS ------------------------------------------ -->
<div ui-view="" autoscroll="true" autoscroll-body-top="" class="ng-scope">
    <div class="row pie-charts">
        <div class="pie-chart-item-container ng-scope">
            <div ba-panel="">
                <div class="animated zoomIn" zoom-in="">
                    <!-- <div class="pie-chart-item ng-scope">
                       <div class="chart" rel="rgba(102, 102, 102, 0.2)" data-percent="60"><span
                               class="percent">61</span>
                         <canvas height="84" width="84"></canvas>
                       </div> -->
                    <div class="description">
                        <div class="ng-binding">Conducteurs</div>
                        <div class="description-stats ng-binding"><span class="data">{{usersPositionsCtrl.conductorList.length}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pie-chart-item-container ng-scope">
            <div ba-panel="">
                <div class="animated zoomIn" zoom-in="">
                    <!-- <div class="pie-chart-item ng-scope">
                       <div class="chart" rel="rgba(102, 102, 102, 0.2)" data-percent="60"><span
                               class="percent">61</span>
                         <canvas height="84" width="84"></canvas>
                       </div> -->
                    <div class="description">
                        <div class="ng-binding">Véhicules à l'arrêt : <span class="data">{{vehiculesStop}}</span>
                        </div>
                    </div>

                    <div class="description" style="margin-top: -5px;">
                        <div class="ng-binding">Véhicules roulants : <span class="data">{{vehiculesRun}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pie-chart-item-container ng-scope">
            <div ba-panel="">
                <div class="animated zoomIn" zoom-in="">
                    <!-- <div class="pie-chart-item ng-scope">
                       <div class="chart" rel="rgba(102, 102, 102, 0.2)" data-percent="60"><span
                               class="percent">61</span>
                         <canvas height="84" width="84"></canvas>
                       </div> -->
                    <div class="description">
                        <div class="ng-binding">Véhicules avec DTC</div>
                        <div class="description-stats ng-binding"><span class="data">
                           <a ui-sref="main.vehicules">
                               {{vehiculeProblem}} </a>
                        </span></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="pie-chart-item-container ng-scope">
            <div ba-panel="">
                <div class="animated zoomIn" zoom-in="">
                    <!-- <div class="pie-chart-item ng-scope">
                       <div class="chart" rel="rgba(102, 102, 102, 0.2)" data-percent="60"><span
                               class="percent">61</span>
                         <canvas height="84" width="84"></canvas>
                       </div> -->
                    <table width="100%">
                        <tbody ng-init="total = 0">
                        <tr ng-repeat="userList in usersPositionsCtrl.conductorList">
                            <td ng-init="$parent.total = $parent.total + (userList.totalDistance) "></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="description">
                                    <div class="ng-binding">Kilométrage</div>
                                    <div class="description-stats ng-binding"><span
                                            class="data">{{total | number:0}}</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- <div >
                     <div class="description" >
                       <div class="ng-binding" >Kilométrage</div>
                       <div class="description-stats ng-binding" >${{total}}</div>
                     </div>
                     <i class="chart-icon i-money"></i>
                   </div> -->
                </div>
            </div>
        </div><!-- end ngRepeat: chart in charts -->
    </div>
</div>


<!-- ----------------- FINISH OTHERS ----------------------------------------- -->
<div class="col-xlg-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
    <div class="ibox-content" style="background-color: transparent">
        <leaflet-map ng-if="usersPositionsCtrl.positionPerUserId" fixed-positions="usersPositionsCtrl.positionPerUserId"
                     selected-marker="usersPositionsCtrl.selectedUser"
                     markers-informations="usersPositionsCtrl.usersInformations">

        </leaflet-map>
    </div>
</div>

<!-- ******************************  UTILISATEURS LIST ************************************************* -->

<div class="col-xlg-5 col-lg-5 col-md-5 col-sm-12 col-xs-12" ba-panel
     ba-panel-class="default-large-panel with-scroll feed-panel">


    <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab heading="Conducteurs">


            <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">

                <div class="feed-message" ng-repeat="user in usersPositionsCtrl.conductorList "
                >
                    <div class="message-icon">
                        <img class="photo-icon" ng-click="usersPositionsCtrl.select(user)"
                             ng-class="user.id == usersPositionsCtrl.selectedUser.id ? 'selected-user' : ''"
                             ng-src="{{::( user.id | profilePicture:'jpg' )}}">
                    </div>
                    <div class="text-block text-message">
                        <div style="float: right;">
                            <a ui-sref="main.conductor({userId: conductor.id})">
                                <i class="fa fa-location-arrow text-navy" style="color: #e85656"></i>
                            </a>
                        </div>
                        <div class="message-header">
                            <span class="author" ng-click="usersPositionsCtrl.select(user)" style="cursor: pointer;">{{ ::user.firstName }} {{ ::user.lastName}} <span
                                    style="font-weight: normal">[Dernier Trajet] </span></span>

                        </div>
                        <div class="message-content line-clamp">
                            <table class="panelTabPosition">
                                <tr>
                                    <td height="30" align="center">
                                        <span ng-init="limit = 3">
                                        <img class="photo-icon" height="30"
                                             ng-src="{{::( user.uvehicleDetail[0].vehicle.make | limitTo : limit | lowercase | profilePicture:'png' )}}"/>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <div style="font-size: 11px; font-weight: bold; color: gray;">
                                            {{::user.uvehicleDetail[0].vehicle.model}} (
                                            {{::user.uvehicleDetail[0].vehicle.fuel}} )
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="font-size: 12px;">
                                    <span ng-repeat="dtc in user.dtc track by $index">
                                         <a href="https://www.obd-codes.com/{{dtc}}" target="_blank"
                                            class="tag label label-primary">{{dtc}}</a>
                                        <span>&nbsp;</span>
                                    </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <div><b ng-if="user.kilometrage">{{user.kilometrage | number:0}} Km </b></div>
                                    </td>
                                </tr>

                            </table>
                            <div>


                            </div>

                            <div class="message-content line-clamp">
                            <span ng-if="user.lastTrip.tripResult.totalDistance!= null"> <i class="fa fa-map"></i>  Kilométrage: {{::user.lastTrip.tripResult.totalDistance  | number:0}} Km
                            </span>
                            </div>
                            <div class="message-content line-clamp">
                                    <span> <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <span ng-class="user.lastTrip.dateTrip ? '' : 'Red'"> Date: {{ user.lastTrip.dateTrip | date:"dd MMM yyyy HH:mm"}} </span>
                                    </span>
                            </div>
                            <div class="message-content line-clamp">
                                <span> <i class="fa fa-tachometer"></i> Max Speed : {{::user.lastTrip.tripResult.maxSpeed}} Km/h </span>
                            </div>
                            <div class="message-content line-clamp">
                                <span>  <i class="fa fa-line-chart"></i>  Efficiency Score : {{::user.lastTrip.tripResult.effciencyScore | number:2}} / 10 </span>
                            </div>
                            <div class="message-content line-clamp">
                                <span> <i class="fa fa-leaf"></i>  Co2 Emission : {{::user.lastTrip.tripResult.avgCo2Emiss | number:2}} </span>
                            </div>
                            <div class="message-content line-clamp">
                                <span>  <i class="fa fa-battery-half"></i>  Fuel Consommation : {{::user.lastTrip.tripResult.consFuelFromDep | number:2}} L</span>
                            </div>
                            <div ng-show="message.expanded" class="message-time">
                                <div class="post-time">
                                    {{::message.time}}
                                </div>
                                <div class="ago-time">
                                    {{::message.ago}}
                                </div>
                            </div>
                            <!--   <div style="color: lightblue; position: absolute;right: 10px; bottom: -8px;font-size: 23px;">
                                   <i class="fa fa-info-circle" aria-hidden="true"></i>
                               </div>
                               -->
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>

        <!-- ------------------------------------------------------------------------------- -->

        <uib-tab heading="Vehicules">
            <a class="btn btnExport" export-to-csv>
                <i class="glyphicon glyphicon-new-window"></i> &#160;Export
            </a>
            <!-- Table for Export -->
            <table style="display: none;">
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Engine</th>
                    <th>Am</th>
                    <th>Fuel</th>
                    <th>Puissance</th>
                </tr>
                <tr ng-repeat="vehicule in usersPositionsCtrl.conductorList ">
                    <td> {{vehicule.uvehicleDetail[0].vehicle.make}}</td>
                    <td> {{vehicule.uvehicleDetail[0].vehicle.model}}</td>
                    <td> {{vehicule.uvehicleDetail[0].vehicle.engine }}</td>
                    <td> {{vehicule.uvehicleDetail[0].vehicle.am }}</td>
                    <td> {{vehicule.uvehicleDetail[0].vehicle.fuel }}</td>
                    <td> {{vehicule.uvehicleDetail[0].vehicle.puissance }}</td>
                </tr>
            </table>
            <!-- -->
            <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">

                <div class="feed-message" ng-repeat="vehicule in usersPositionsCtrl.conductorList ">


                    <div class="message-header">

                        <div style="float: right;">
                            <a ui-sref="main.vehicules({userId:trip.id, vehiculeId:trip.uvehicleDetail[0].vehicle.id})">
                                <i class="fa fa-location-arrow text-navy" style="color: #e85656"></i>
                            </a>
                        </div>

                        <div class="text-block text-message" style="margin-left: 0px;">


                            <div class="message-header" ng-click="usersPositionsCtrl.select(vehicule)">




                                <span class="author">

                                        <span ng-init="limit = 3">

                            <img class="photo-icon" height="30" style="margin-bottom: 8px; margin-right: 5px; "
                                 ng-class="vehicule.id == usersPositionsCtrl.selectedUser.id ? 'selected-user' : ''"
                                 ng-src="{{::( vehicule.uvehicleDetail[0].vehicle.make | limitTo : limit | lowercase | profilePicture:'png' )}}"/>
                            </span>
                                        {{ ::vehicule.uvehicleDetail[0].vehicle.make}} / {{ ::vehicule.uvehicleDetail[0].vehicle.model}} <span
                                        style="font-weight: normal">({{ ::vehicule.uvehicleDetail[0].vehicle.fuel}}) </span></span>
                            </div>
                            <div class="message-content line-clamp">
                                    <span> Engine: {{ ::vehicule.uvehicleDetail[0].vehicle.engine}}
                                    </span>
                            </div>
                            <div class="message-content line-clamp">
                                    <span> <i class="fa fa-calendar" aria-hidden="true"></i> Date: {{ ::vehicule.uvehicleDetail[0].vehicle.am}}
                                    </span>
                            </div>
                            <div class="message-content line-clamp">
                                    <span> <i class="fa fa-bolt"></i> Puissance: {{ ::vehicule.uvehicleDetail[0].vehicle.puissance}}
                                    </span>
                            </div>
                            <div class="message-content line-clamp">
                                    <span> <i class="fa fa-user"></i> {{ ::vehicule.firstName}} {{ ::vehicule.lastName}}
                                    </span>
                            </div>
                        </div>
                    </div>

                    <!-- ------ -->


                </div>

            </div>


        </uib-tab>


        <!-- --------------------------------TAB TRIP----------------------------------- -->

        <!--  <uib-tab heading="Trajets">
              <div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">

                  <div class="feed-message" ng-repeat="trip in  usersPositionsCtrl.conductorList">
                      <div style="float: right">
                          <a ui-sref="main.trip.tripList({userId: trip.id})">
                              <i class="fa fa-location-arrow text-navy" style="color: #e85656"></i>
                          </a>
                      </div>
                      <div class="message-header">
                          <div class="text-block text-message" style="margin-left: 0px;">
                              <div class="message-header">
                                      <span class="author">
                                          {{trip.firstName}}  {{trip.lastName}}
                                      </span>
                              </div>

                              <div class="message-content line-clamp">
                                      <span> <i class="fa fa-map-pin"></i> Adresse Début: {{ trip.lastTrip.startTripAdress}}
                                      </span>
                              </div>
                              <div class="message-content line-clamp">
                                      <span> <i class="fa fa-map-marker"></i> Adresse Fin: {{ trip.lastTrip.endTripAdress}}
                                      </span>
                              </div>
                              <div class="message-content line-clamp">
                                      <span> <i class="fa fa-calendar" aria-hidden="true"></i>
                                          Date: {{ trip.lastTrip.dateTrip | date}}
                                      </span>
                              </div>
                              <div class="message-content line-clamp">
                                      <span> <i class="fa fa-clock-o"></i> Durée: {{ trip.lastTrip.duration}}
                                      </span>
                              </div>
                              <div class="message-content line-clamp">
                                      <span> <i class="fa fa-map"></i>
                                          Distance : {{trip.lastTrip.tripResult.totalDistance |number : 3}} Km
                                      </span>
                              </div>

                              <div class="message-content line-clamp">
                                      <span> <i class="fa fa-battery-half"></i> Consommation: {{ trip.lastTrip.tripResult.consFuelFromDep | number : 3}} L
                                      </span>
                              </div>
                              <div class="message-content line-clamp">
                                      <span> <i class="fa fa-star-half-o"></i> Score: {{ trip.lastTrip.tripResult.proScore | number : 3}}
                                      </span>
                              </div>
                              <div class="message-content line-clamp">
                                      <span> <i class="fa fa-leaf"></i> Emission CO2: {{ trip.lastTrip.tripResult.avgCo2Emiss | number: 3}}
                                      </span>
                              </div>
                          </div>
                      </div>

                  </div> -->

        <!--  ------------------------- NG-IF ADMIN  -------------------------- -->

        <!-- <div class="feed-message" ng-repeat="trip in  usersPositionsCtrl.conductorList"  ng-if="role == 'simpleUser' && trip.id == usersPositionsCtrl.connectedUser">
             <div style="float: right">
                 <a ui-sref="main.trip.tripList({userId: trip.id})">
                     <i class="fa fa-location-arrow text-navy" style="color: #e85656"></i>
                 </a>
             </div>
             <div class="message-header">
                 <div class="text-block text-message" style="margin-left: 0px;">
                     <div class="message-header">
                             <span class="author">
                                 {{trip.firstName}}  {{trip.lastName}}
                             </span>
                     </div>

                     <div class="message-content line-clamp">
                             <span> <i class="fa fa-map-pin"></i> Adresse Début: {{ trip.lastTrip.startTripAdress}}
                             </span>
                     </div>
                     <div class="message-content line-clamp">
                             <span> <i class="fa fa-map-marker"></i> Adresse Fin: {{ trip.lastTrip.endTripAdress}}
                             </span>
                     </div>
                     <div class="message-content line-clamp">
                             <span> <i class="fa fa-calendar" aria-hidden="true"></i>
                                 Date: {{ trip.lastTrip.dateTrip | date}}
                             </span>
                     </div>
                     <div class="message-content line-clamp">
                             <span> <i class="fa fa-clock-o"></i> Durée: {{ trip.lastTrip.duration}}
                             </span>
                     </div>
                     <div class="message-content line-clamp">
                             <span> <i class="fa fa-map"></i>
                                 Distance : {{trip.lastTrip.tripResult.totalDistance |number : 3}} Km
                             </span>
                     </div>

                     <div class="message-content line-clamp">
                             <span> <i class="fa fa-battery-half"></i> Consommation: {{ trip.lastTrip.tripResult.consFuelFromDep | number : 3}} L
                             </span>
                     </div>
                     <div class="message-content line-clamp">
                             <span> <i class="fa fa-star-half-o"></i> Score: {{ trip.lastTrip.tripResult.proScore | number : 3}}
                             </span>
                     </div>
                     <div class="message-content line-clamp">
                             <span> <i class="fa fa-leaf"></i> Emission CO2: {{ trip.lastTrip.tripResult.avgCo2Emiss | number: 3}}
                             </span>
                     </div>
                 </div>
             </div>

         </div> -->

</div>

</uib-tab>
<!-- ---------------------------------------------------------------- -->

</uib-tabset>

<div class="message-header" style="background: red">
    <div ng-repeat="vehiculeUse in usersPositionsCtrl.vehiculeUsers ">
        <div> coucou : {{::vehiculeUse.id}}</div>
    </div>
</div>
</div>
