<div class="login" >

  <main class="auth-main">
    <div class="auth-block">
     <!-- <h1>Sign up to MicroLink</h1> -->
      <div style="margin-bottom: 15px; width: 100%; text-align: center;"> <img src="../../../../assets/img/carAlgo_logo.png" width="70" />
        <!-- <h1>Board</h1> -->
      </div>
      <a ui-sref="signIn" class="auth-link">Vous avez déjà un compte? !</a>
      <!-- ui-sref="authSignIn" -->
      <form class="form-horizontal" name="registerForm" role="form" ng-controller="signUpCtrl">
        <!-- <span>{{formInfo}}</span> -->
        <p>{{fetched}}</p>
        <div class="form-group">
          <label for="lastName" class="col-sm-2 control-label authLabel">Last name</label>

          <div class="col-sm-10 col-sm">
            <input type="text" class="form-control" ng-model="formInfo.lastName" id="lastName" name="lastName" placeholder="Last Name" >
            <span ng-show="lastNameRequired" style="color: yellow;">{{lastNameRequired}}</span>
          </div>
        </div>
        <div class="form-group">
          <label for="firstName" class="col-sm-2 control-label authLabel">First name</label>

          <div class="col-sm-10 col-sm">
            <input type="text" class="form-control" ng-model="formInfo.firstName" id="firstName" name="firstName" placeholder="First name" >
            <span ng-show="firstNameRequired" style="color: yellow;">{{firstNameRequired}}</span>
          </div>
        </div>
        <div class="form-group">
          <label for="user" class="col-sm-2 control-label authLabel">Email</label>

          <div class="col-sm-10 col-sm">
            <input type="email" class="form-control" ng-model="formInfo.mail" id="user" name="user" placeholder="Email" >
            <span ng-show="mailRequired" style="color: yellow;">{{mailRequired}}</span>
          </div>
        </div>
        <div class="form-group">
          <label for="passWord" class="col-sm-2 control-label authLabel">Password</label>

          <div class="col-sm-10 col-sm">
            <input type="password" class="form-control" ng-model="formInfo.passWord" id="passWord" name="passWord" placeholder="Password" >
            <span ng-show="passWordRequired" style="color: yellow;">{{passWordRequired}}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10 authButton">
            <button type="submit" class="btn btn-default btn-auth" ng-click="signUp()">Sign up</button>
          </div>
        </div>
      </form>

      <div class="auth-sep"><span><span>or Sign up with one click</span></span>
      </div>

      <div class="al-share-auth">
        <ul class="al-share clearfix">
          <li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>
          <li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>
          <li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>
        </ul>
      </div>
    </div>
  </main>
</div>
