<div class="generic-container"
     ng-controller="FirmwareController as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="lead">Gestion des Firmwares : </span>
        </div>
        <div class="formcontainer">
            <form name="myForm" ng-submit="ctrl.submit()"
                  enctype="multipart/form-data" class="form-horizontal">

                <input type="hidden" ng-model="ctrl.firmware.id" class="form-control" />

                <div class="row">
                    <label>Fichier binaire : </label>
                    <input type="file" on-read-file="ctrl.showContent($fileContent)"   name="binaryfile"/><br/>
                </div>

                <div class="row">
                    <label>Version : </label> <input name="version" type="text" class="form-control"
                                                     ng-model="ctrl.firmware.version" required ng-minlength="2"
                                                     ng-maxlength="30" id="version"/><br/>
                </div>

                <div class="row">
                    <label for="role">Type : </label> <select id="role"
                                                              ng-model="ctrl.firmware.type">
                    <option value="ble">BLE</option>
                    <option value="can">CAN</option>
                </select><br/>
                </div>

                <div ng-repeat="a in ctrl.attributsListNull">
                    <div class="row">
                        <label> {{ a.nom }} : </label> <input name="a.nom" type="text" class="form-control"
                                                              ng-model="a.value" required ng-minlength="2"
                                                              ng-maxlength="30"
                                                              id="a.nom"/><br/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit"
                               value="{{!ctrl.firmware.id ? 'Add' : 'Update'}}"
                               class="btn btn-primary" ng-disabled="myForm.$invalid">
                        <button type="button" ng-click="ctrl.reset()"
                                class="btn btn-warning" ng-disabled="myForm.$pristine">Reset
                            Form
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="lead">Liste des Firmwares </span>
        </div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID.</th>
                    <th>Type</th>
                    <th>Version</th>
                    <th>Date de creation</th>
                    <th>Checksum</th>
                    <th ng-repeat="a in ctrl.firmwares[0].listFields"><span
                            ng-bind="a.nom"></span></th>
                    <th width="20%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="f in ctrl.firmwares">
                    <td><span ng-bind="f.id"></span></td>
                    <td><span ng-bind="f.type"></span></td>
                    <td><span ng-bind="f.version"></span></td>
                    <td><span ng-bind="f.creationDate"></span></td>
                    <td><span ng-bind="f.checksum"></span></td>
                    <th ng-repeat="a in f.listFields"><span ng-bind="a.value"></span></th>
                    <td>
                        <button type="button" ng-click="ctrl.edit(f.id)"
                                class="btn btn-success custom-width">Edit
                        </button>
                        <button type="button" ng-click="ctrl.remove(f.id)"
                                class="btn btn-danger custom-width">Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<style>
    .row{
        margin-left:15px !important;
        margin-right: 15px !important;
    }
    .form-actions{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .panel-default>.panel-heading{
        background-color: #209e91 !important;
        color: #ffffff !important;
    }
    .lead{
        line-height: 0px !important;
    }
    .btn-primary{
        background-color: #209e91 !important;
        border-color:  #209e91 !important;
    }
</style>
