<div class="login" ng-controller="signInCtrl as signInVm">
  <main class="auth-main">
    <div class="auth-block">
     <div style="margin-bottom: 15px; width: 100%; text-align: center;"> <img src="../../../../assets/img/carAlgo_logo.png" width="70" /></div>
     <!--  <h1>Se connecter</h1>-->
     <a ui-sref="signUp" class="auth-link" >Inscription!</a>

      <form class="form-horizontal" ng-submit="signInVm.signIn()">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Login</label>

          <div class="col-sm-10">
            <input type="input" ng-model="signInVm.user" class="form-control" id="inputEmail3" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

          <div class="col-sm-10">
            <input type="password" ng-model="signInVm.passWord" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn-auth">Sign in</button>
            <a href class="forgot-pass">Forgot password?</a>
          </div>
        </div>
      </form>

      <div class="auth-sep"><span><span>or Sign in with one click</span></span>
      </div>

      <div class="al-share-auth">
        <ul class="al-share clearfix">
          <li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>
          <li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>
          <li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>
        </ul>
      </div>
    </div>
  </main>
</div>