<form id="conductor-list" >
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <!-- SMART TABLE -->
                        <div class="row">
                            <div class="col-md-12">
                                <div ba-panel  ba-panel-class="with-scroll">
                                    <div class="widgets">
                                        <div class="horizontal-scroll">
                                            <div class="form-group select-page-size-wrap ">
                                                <label>
                                                    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                                                            ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                                                    </select>
                                                </label>
                                            </div>
                                            <div class="clients-list">
                                                <ul class="nav nav-tabs">
                                                    <li style="padding: 12px; float: right;">
									                               <span class="pull-right small text-muted" style="color:#fff !important;">
									                                    <span  ng-if="tab ==1">{{results.length}} Element(s)</span>
                                                                       <!--  <span  ng-if="tab == 2">{{resultUsers.length}} ELMTS</span> -->
									                               </span>
                                                    </li>
                                                    <li ng-class="{'active' : tab == 1}"><a ng-click="tab = 1" ng-init="tab = 1"><i class="fa fa-user"></i> Contacts</a>
                                                    </li>
                                                    <!--  <li ng-class="{'active' : tab == 2}"><a ng-click="tab = 2"><i class="fa fa-briefcase"></i> Companies</a></li> -->
                                                </ul>
                                                <table class="table" st-safe-src="conductorCtrl.conductorList" st-table="conductorCtrl.conductorListView">
                                                    <thead>
                                                    <tr class="sortable ">
                                                        <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                                                        <th st-sort="role"> Role</th>
                                                        <th st-sort="prenom">Prenom</th>
                                                        <th st-sort="nom">Nom</th>
                                                        <th st-sort="email">Mail</th>

                                                       <!-- <th st-sort="dateTrip">Date Trip</th>
                                                        <th st-sort="dateEndTrip">Date End</th>
                                                        <th st-sort="distance">Distance</th>
                                                        <th st-sort="duration">Duration</th>
                                                        <th st-sort="arriving">Arriving</th>
                                                        <th st-sort="maxSpeed">Speed</th>
                                                        <th st-sort="nbStops">Stops</th>

-->
                                                        <th>Actions</th>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th><input st-search="role" placeholder="Role" class="input-sm form-control search-input"
                                                                   type="search"/></th>
                                                        <th><input st-search="prenom" placeholder="Prenom"
                                                                   class="input-sm form-control search-input"
                                                                   type="search"/></th>
                                                        <th><input st-search="nom" placeholder="Nom"
                                                                   class="input-sm form-control search-input"
                                                                   type="search"/></th>
                                                        <th><input st-search="email" placeholder="Email" class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
                                                       <!-- <th><input st-search="dateTrip" placeholder="Date Trip" class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
                                                        <th><input st-search="dateEndTrip" placeholder="Date End Trip" class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
                                                        <th><input st-search="distance" placeholder="Distance" class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
                                                        <th><input st-search="arriving" placeholder="Arriving" class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
                                                        <th><input st-search="maxSpeed" placeholder="Speed" class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
                                                        <th><input st-search="nbStops" placeholder="Stops" class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
-->

                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="contact  in conductorCtrl.conductorListView  | filter:conductorCtrl.keyword as results" ng-include="getTemplate(contact)">

                                                    </tr>
                                                    </tbody>

                                                    <tfoot>
                                                    <tr>
                                                        <td colspan="7" class="text-center">
                                                            <div st-pagination="" st-items-by-page="12" st-displayed-pages="5"></div>
                                                        </td>
                                                    </tr>
                                                    </tfoot>
                                                </table>

                                                <script type="text/ng-template" id="display">
                                                    <td>{{}}</td>
                                                    <td>{{contact.role}}</td>
                                                    <td>{{contact.firstName}}</td>
                                                    <td>{{contact.lastName}}</td>
                                                    <td>{{contact .mail}}</td>
                                                <!--    <td>{{contact .lastTrip.dateTrip}}</td>
                                                    <td>{{contact .lastTrip.distance}}</td>
                                                    <td>{{contact .lastTrip.duration}}</td>
                                                    <td>{{contact .lastTrip.endTrip.date}}</td>
                                                    <td>{{contact .lastTrip.endTrip.distance}}</td>
                                                    <td>{{contact .lastTrip.endTrip.arriving}}</td>
                                                    <td>{{contact .lastTrip.tripResult.max}}</td>
-->
                                                    <td>
                                                        <button  class="btn btn-primary editable-table-button btn-xs" ng-click="editContact(contact)">Edit</button>
                                                    </td>
                                                </script>

                                                <script type="text/ng-template" id="edit">
                                                    <td>{{}}</td>
                                                    <td><input type="text" ng-model="conductorCtrl.selected.role" class="input-sm form-control search-input" /></td>
                                                    <td><input type="text" ng-model="conductorCtrl.selected.firstName" class="input-sm form-control search-input" /></td>
                                                    <td><input type="text" ng-model="conductorCtrl.selected.lastName" class="input-sm form-control search-input" /></td>
                                                    <td><input type="text" ng-model="conductorCtrl.selected.mail" class="input-sm form-control search-input" /></td>
                                                    <td>
                                                        <button class="btn btn-primary editable-table-button btn-xs" ng-click="saveContact($index)">Save</button>
                                                        <button class="btn btn-danger editable-table-button btn-xs" ng-click="reset()">Cancel</button>
                                                    </td>
                                                </script>

                                                <!-- SCRIPTS
                                                <td class="table-id"></td>
                                                <td> {{item .role}}</td>
                                                <td>{{item.firstName}}</td>
                                                <td>{{item .lastName}}</td>
                                                <td>{{item .mail}}</td>
                                                <td>
                                                    <a ui-sref="main.trip.tripList({userId: conductor.id})">
                                                        {{item .uvehicleDetail[0].vehicle.make}}
                                                    </a>
                                                </td>
                                                <td class="contact-type">
                                                    <a class="email-link" ng-href="mailto:{{item .mail}}">
                                                        <i class="fa fa-envelope"> </i>
                                                    </a>
                                                </td>
                                                <td><a ui-sref="main.trip.tripList({userId: conductor.id})">
                                                    <i class="fa fa-location-arrow text-navy"></i>
                                                </a>
                                                </td>

                                                 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<!--  TODO:SMARTO move to a style sheet-->
<style>
    .panel > .panel-body{
        padding: 0px 10px 10px 8px !important;
    }
</style>