/*body, #mainWrapper {
    height: 70%;
    background-color: rgb(245, 245, 245);
}

body, .form-control {
    font-size: 12px !important;
}*/

.floatRight {
    float: right;
    margin-right: 18px;
}

.has-error {
    color: red;
}

.formcontainer {
    background-color: #DAE8E8;
    padding: 20px;
}

.tablecontainer {
    padding-left: 20px;
}

.generic-container {
    width: 98%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

.section {
    margin: 5px;
}

fieldset {
    padding: 10px;
}

fieldset.userInfo {
    position: relative;
}

fieldset.viheculeInfo {
    position: relative;
}

fieldset.bleInfo {
    position: relative;
}

.angular-google-map-container {
    width: 100%;
    height: 500px;
}