<style>
    .upload .browse input[type='file']{
        position: relative;
        margin-top: 3px;
        margin-left: 3px;
        height: 1px;
        width: 1px;
        z-index: -5;
    }
</style>
<div class="widgets">
    <div class="row">
        <div class="col-md-8">
            <div ba-panel ba-panel-title="Créer une entreprise" ba-panel-class="with-scroll">
                <form ng-submit="createEp()">
                    <div class="form-group">
                        <label for="name">Nom de l'entreprise</label>
                        <input type="text" class="form-control" ng-model="name" id="name" name="name" placeholder="Name" >
                    </div>
                    <div class="form-group">
                            <label for="logo">Logo</label>
                            <input type="file" name="logo" id="logo" class="browse" multiple ng-model="logo">
                    </div>
                    <div class="form-group">
                        <label for="num">Num de référence</label>
                        <input type="text" class="form-control" id="num" placeholder="numéro de référence" ng-model="num">
                    </div>
                    <div class="form-group">
                        <label for="street">Rue</label>
                        <input type="text" class="form-control" id="street" placeholder="Rue" ng-model="street">
                    </div>
                    <div class="form-group">
                        <label for="town">Ville</label>
                        <input type="text" class="form-control" id="town" placeholder="ville" ng-model="town">
                    </div>
                    <div class="form-group">
                        <label for="zipCode">Code Postal</label>
                        <input type="text" class="form-control" id="zipCode" placeholder="code Postal" ng-model="zipCode">
                    </div>
                    <div class="form-group" style="float: right;">
                        <div class="col-sm-offset-2 col-sm-10 authButton">
                            <button type="submit" class="btn btn-primary btn-sm" ng-click="createEp(name, logo, num, street, town, zipCode)">Créer entreprise</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>