<style>
    .inlineText{
        white-space: nowrap;
    }
    .cut-text {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 150px;
        white-space: nowrap;
        display: block;
    }
    .capitalise{
        text-transform: capitalize;
    }
    .uppercase{
        text-transform: uppercase;
    }
    .btnExport {
        float: right;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 7px;
        text-align: right;
        padding: 0px !important;
        /*color: #24304B;*/
    }
    a.btnExport:hover{
        -webkit-transform: none;
        transform: none;
    }
</style>
<form id="trajet-list" >
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <!-- SMART TABLE -->
                        <div class="row">
                            <div class="col-md-12">
                                <div ba-panel  ba-panel-class="with-scroll">
                                    <div class="widgets">
                                        <div class="horizontal-scroll">
                                            <div class="form-group select-page-size-wrap ">
                                                <label>
                                                    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                                                            ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                                                    </select>
                                                </label>
                                            </div>
                                            <div class="clients-list">
                                                <ul class="nav nav-tabs">
                                                    <li style="padding: 12px; float: right;">
									                               <span class="pull-right small text-muted" style="color:#fff !important;">
									                                    <span  ng-if="tab ==1">{{results.length}} Element(s)</span>
                                                                       <!--  <span  ng-if="tab == 2">{{resultUsers.length}} ELMTS</span> -->
									                               </span>
                                                    </li>
                                                    <li ng-class="{'active' : tab == 1}"> <a ng-click="tab = 1" ng-init="tab = 1"> <i class="fa fa-map"></i> Trajets </a>
                                                    </li>
                                                    <!--  <li ng-class="{'active' : tab == 2}"><a ng-click="tab = 2"><i class="fa fa-briefcase"></i> Companies</a></li> -->
                                                </ul>
                                                <!-- ------------------------------------------------------------------------------------------------- -->
                                                <a class="btn btnExport ng-scope" export-to-csv="">
                                                    <i class="glyphicon glyphicon-new-window"></i> &nbsp;Export
                                                </a>
                                                <table style="display: none;">
                                                    <thead>
                                                        <tr>
                                                            <th>Prenom</th>
                                                            <th>Nom</th>
                                                            <th>Adresse Début</th>
                                                            <th>Adresse fin</th>
                                                            <th>Date</th>
                                                            <th>Durée</th>
                                                            <th>Distance</th>
                                                            <th>Emission CO2</th>
                                                            <th>Eco-drive</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr  ng-repeat="contact in trajetsCtrl.listTrajetView | filter:trajetsCtrl.keyword as results">
                                                        <td class="capitalise">{{contact.user.firstName}}</td>
                                                        <td class="uppercase">{{contact.user.lastName}}</td>
                                                        <td>{{contact.startTripAdress}}</td>
                                                        <td>{{contact.endTripAdress}}</td>
                                                        <td class="inlineText">{{contact.dateTrip |date:"dd MMM yyyy HH:mm" }}</td>
                                                        <td align="center">{{contact.duration}}</td>
                                                        <td align="center">{{contact.tripResult.totalDistance | number:2}}</td>
                                                        <td align="center">{{contact.tripResult.avgCo2Emiss | number:2}}</td>
                                                        <td align="center">{{contact.tripResult.standardScore *10 | number:2}}</td>
                                                    </tr>
                                                    </tbody>
                                                    </tbody>
                                                </table>
                                                <!-- ------------------------------------------------------------------------------------------------ -->
                                                <table class="table" st-safe-src="trajetsCtrl.Lists" st-table="trajetsCtrl.listTrajetView">
                                                    <thead>
                                                    <tr class="sortable ">
                                                        <th st-sort="user.firstName">Prenom</th>
                                                        <th st-sort="user.lastName">Nom</th>
                                                        <th st-sort="startTripAdress">Adresse Début</th>
                                                        <th st-sort="endTripAdress">Adresse fin</th>
                                                        <th st-sort="dateTrip">Date</th>
                                                        <th st-sort="duration">Durée</th>
                                                        <th st-sort="distance">Distance</th>
                                                        <th st-sort="tripResult.avgCo2Emiss">Emission CO2</th>
                                                        <th st-sort="tripResult.proScore">Eco-drive</th>
                                                        <th></th>
                                                    </tr>
                                                    <tr>
                                                        <th><input st-search="user.firstName" placeholder="Prenom"
                                                                   class="input-sm form-control search-input"
                                                                   type="search"/></th>
                                                        <th><input st-search="user.lastName" placeholder="Nom"
                                                                   class="input-sm form-control search-input"
                                                                   type="search"/></th>
                                                        <th><input st-search="startTripAdress" placeholder="Date début" class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
                                                        <th><input st-search="endTripAdress" placeholder="Date fin" class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
                                                        <th><input st-search="dateTrip" placeholder="Date" class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
                                                        <th><input st-search="duration" placeholder="Durée" class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
                                                        <th><input st-search="distance" placeholder="Distance" class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
                                                        <th><input st-search="tripResult.avgCo2Emiss" placeholder="Emission CO2" class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
                                                        <th><input st-search="tripResult.proScore" placeholder="Score" class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
                                                        <th> </th>
                                                    </tr>
                                                    <tr  ng-repeat="contact in trajetsCtrl.listTrajetView | filter:trajetsCtrl.keyword as results">
                                                        <td class="capitalise">{{contact.user.firstName}}</td>
                                                        <td class="uppercase">{{contact.user.lastName}}</td>
                                                        <td><span class="cut-text">{{contact.startTripAdress}}</span></td>
                                                        <td><span class="cut-text">{{contact.endTripAdress}}</span></td>
                                                        <td class="inlineText">{{contact.dateTrip |date:"dd MMM yyyy HH:mm" }}</td>
                                                        <td align="center">{{contact.duration}}</td>
                                                        <td align="center">{{contact.tripResult.totalDistance | number:2}}</td>
                                                        <td align="center">{{contact.tripResult.avgCo2Emiss | number:2}}</td>
                                                        <td align="center">{{contact.tripResult.standardScore *10 | number:0}}</td>
                                                        <td>
                                                            <a ui-sref="main.trip.tripDetails({userId:contact.user.id , tripId: contact.id})">
                                                                <i class="fa fa-location-arrow text-navy" style="color: #e85656"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>

                                                    <tfoot>
                                                    <tr>
                                                        <td colspan="10" class="text-center">
                                                            <div st-pagination="" st-items-by-page="50" st-displayed-pages="5"></div>
                                                        </td>
                                                    </tr>
                                                    </tfoot>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<!--  TODO:SMARTO move to a style sheet-->
<style>
    .panel > .panel-body{
        padding: 0px 10px 10px 8px !important;
    }
</style>