<style>
    .capitalise {
        text-transform: capitalize;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .btnExport {
        float: right;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 7px;
        text-align: right;
        padding: 0px !important;
        /*color: #24304B;*/
    }

    a.btnExport:hover {
        -webkit-transform: none;
        transform: none;
    }
</style>
<!-- <form id="conductor-list" ng-if="role == 'User'"> -->
<form id="conductor-list">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <!-- SMART TABLE -->
                        <div class="row">
                            <div class="col-md-12">
                                <div ba-panel ba-panel-class="with-scroll">
                                    <div class="widgets">
                                        <div class="horizontal-scroll">
                                            <div class="form-group select-page-size-wrap ">
                                                <label>
                                                    <select class="form-control selectpicker show-tick"
                                                            title="Rows on page" selectpicker
                                                            ng-model="smartTablePageSize"
                                                            ng-options="i for i in [5,10,15,20,25]">
                                                    </select>
                                                </label>
                                            </div>
                                            <div class="clients-list">
                                                <ul class="nav nav-tabs">
                                                    <li style="padding: 12px; float: right;">
									                               <span class="pull-right small text-muted"
                                                                         style="color:#fff !important;">
									                                    <span ng-if="tab ==1">{{results.length}} Element(s)</span>
                                                                       <!--  <span  ng-if="tab == 2">{{resultUsers.length}} ELMTS</span> -->
									                               </span>
                                                    </li>
                                                    <li ng-class="{'active' : tab == 1}"><a ng-click="tab = 1"
                                                                                            ng-init="tab = 1"> <i
                                                            class="fa fa-user"></i> Conducteurs </a>
                                                    </li>
                                                    <!--  <li ng-class="{'active' : tab == 2}"><a ng-click="tab = 2"><i class="fa fa-briefcase"></i> Companies</a></li> -->
                                                </ul>

                                                <!-- ------------------------- TABLE FOR EXPORT ---------------------------------- -->

                                                <a class="btn btnExport ng-scope" export-to-csv="">
                                                    <i class="glyphicon glyphicon-new-window"></i> &nbsp;Export
                                                </a>
                                                <table style="display: none;">
                                                    <thead>
                                                    <tr>
                                                        <th>Prenom</th>
                                                        <th>Nom</th>
                                                        <th>Mail</th>
                                                        <th>Note Eco-drive</th>
                                                        <th>Dernier Trajet</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="contact  in conductorCtrl.conductorListView  | filter:conductorCtrl.keyword as results">
                                                        <td>{{contact.firstName}}</td>
                                                        <td>{{contact.lastName}}</td>
                                                        <td>{{contact.mail}}</td>
                                                        <td>{{contact.lastTrip.tripResult.standardScore *10 | number:2}}</td>
                                                        <td>{{contact.lastTrip.dateTrip | date}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <!-- -------------------------------------------------------------------------------- -->

                                                <table class="table" st-safe-src="conductorCtrl.conductorList"
                                                       st-table="conductorCtrl.conductorListView">
                                                    <thead>
                                                    <tr class="sortable">
                                                        <th st-sort=""> Logo</th>
                                                        <th st-sort="firstName">Prenom</th>
                                                        <th st-sort="lastName">Nom</th>
                                                        <th st-sort="mail">Mail</th>
                                                        <th st-sort="lastTrip.tripResult.standardScore">Note Eco-drive
                                                        </th>
                                                        <th st-sort="lastTrip.dateTrip">Dernier Trajet</th>
                                                        <th>Action</th>
                                                        <th></th>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th><input st-search="firstName" placeholder="Prenom"
                                                                   class="input-sm form-control search-input"
                                                                   type="search"/></th>
                                                        <th><input st-search="lastName" placeholder="Nom"
                                                                   class="input-sm form-control search-input"
                                                                   type="search"/></th>
                                                        <th><input st-search="mail" placeholder="Email"
                                                                   class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
                                                        <th><input st-search="lastTrip.tripResult.standardScore"
                                                                   placeholder="Note eco-drive"
                                                                   class="input-sm form-control search-input"
                                                                   type="search"/>
                                                        </th>
                                                        <th><input st-search="lastTrip.dateTrip"
                                                                   placeholder="Dernier Trip"
                                                                   class="input-sm form-control search-input"
                                                                   type="search"/></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    <tr ng-repeat="contact  in conductorCtrl.conductorListView  | filter:conductorCtrl.keyword as results" ng-click="selUser(contact)">

                                                        <td>
														  <span ng-init="limit = 3">

                                                                <img class="photo-icon" width="30"
                                                                     style="margin-bottom: 5px; margin-top: 5px;"

                                                                     ng-src="{{::( contact.uvehicleDetail[0].vehicle.make | limitTo : limit | lowercase | profilePicture:'png' )}}"/>
                                                                </span>
                                                        </td>
                                                        <td class="capitalise">{{contact.firstName}}</td>
                                                        <td class="uppercase">{{contact.lastName}}</td>
                                                        <td>{{contact.mail}}</td>
                                                        <td align="center">{{contact.lastTrip.tripResult.standardScore
                                                            *10 | number:0}}
                                                        </td>
                                                        <td align="center">{{contact.lastTrip.dateTrip | date}}</td>
                                                        <td>
                                                            <div class="buttons">
                                                                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser(contact)">Delete</button>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a ui-sref="main.trip.tripList({userId: contact.id})">
                                                                <i class="fa fa-location-arrow text-navy"
                                                                   style="color: #e85656"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>

                                                    <tfoot>
                                                    <tr>
                                                        <td colspan="7" class="text-center">
                                                            <div st-pagination="" st-items-by-page="50"
                                                                 st-displayed-pages="5"></div>
                                                        </td>
                                                    </tr>
                                                    </tfoot>
                                                </table>


                                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                {{selected_user.firstName}}{{selected_user.lastName}}{{selected_user.lastTrip.tripResult.standardScore
                                                                *10 | number:2}}
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary">Save changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!--	<script type="text/ng-template" id="display">
                                                        <td>



                                                        </td>
                                                        <td>{{contact.firstName}}</td>
                                                        <td>{{contact.lastName}}</td>
                                                        <td>{{contact .mail}}</td>
                                                        <!--    <td>{{contact .lastTrip.dateTrip}}</td>
                                                            <td>{{contact .lastTrip.distance}}</td>
                                                            <td>{{contact .lastTrip.duration}}</td>
                                                            <td>{{contact .lastTrip.endTrip.date}}</td>
                                                            <td>{{contact .lastTrip.endTrip.distance}}</td>
                                                            <td>{{contact .lastTrip.endTrip.arriving}}</td>
                                                            <td>{{contact .lastTrip.tripResult.max}}</td>
        -->
                                                <!--	<td>
                                                        <button  class="btn btn-primary editable-table-button btn-xs" ng-click="editContact(contact)">Edit</button>
                                                    </td>
                                                </script>

                                                <script type="text/ng-template" id="edit">
                                                    <td><input type="text" ng-model="conductorCtrl.selected.role" class="input-sm form-control search-input" /></td>
                                                    <td><input type="text" ng-model="conductorCtrl.selected.firstName" class="input-sm form-control search-input" /></td>
                                                    <td><input type="text" ng-model="conductorCtrl.selected.lastName" class="input-sm form-control search-input" /></td>
                                                    <td><input type="text" ng-model="conductorCtrl.selected.mail" class="input-sm form-control search-input" /></td>
                                                    <td>
                                                        <button class="btn btn-primary editable-table-button btn-xs" ng-click="saveContact($index)">Save</button>
                                                        <button class="btn btn-danger editable-table-button btn-xs" ng-click="reset()">Cancel</button>
                                                    </td>
                                                </script>
                                                -->

                                                <!-- SCRIPTS
                                                <td class="table-id"></td>
                                                <td> {{item .role}}</td>
                                                <td>{{item.firstName}}</td>
                                                <td>{{item .lastName}}</td>
                                                <td>{{item .mail}}</td>
                                                <td>
                                                    <a ui-sref="main.trip.tripList({userId: conductor.id})">
                                                        {{item .uvehicleDetail[0].vehicle.make}}
                                                    </a>
                                                </td>
                                                <td class="contact-type">
                                                    <a class="email-link" ng-href="mailto:{{item .mail}}">
                                                        <i class="fa fa-envelope"> </i>
                                                    </a>
                                                </td>
                                                <td><a ui-sref="main.trip.tripList({userId: conductor.id})">
                                                    <i class="fa fa-location-arrow text-navy"></i>
                                                </a>
                                                </td>

                                                 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<!--  TODO:SMARTO move to a style sheet-->
<style>
    .panel > .panel-body {
        padding: 0px 10px 10px 8px !important;
    }
</style>