<div class="generic-container"
     ng-controller="TroubleCodeController as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="lead">Gestion des TroubleCodes : </span>
        </div>
        <div class="formcontainer">
            <form name="myForm" ng-submit="ctrl.submit()"
                  enctype="multipart/form-data" class="form-horizontal">

                <input type="hidden" ng-model="ctrl.troublecode.id" class="form-control"/>

                <div class="row">
                    <label>Code : </label> <input name="code" type="text" class="form-control"
                                                  ng-model="ctrl.troublecode.code" required ng-minlength="2"
                                                  ng-maxlength="30" id="code"/><br/>
                </div>

                <div class="row">
                    <label>Description : </label> <br/>
                    <textarea name='description' class="form-control"
                              ng-model="ctrl.troublecode.description" required id='description'
                              rows="3" cols="50"></textarea>
                    <br/>
                </div>

                <div class="row">
                    <label>URL : </label> <input name="url" type="url" class="form-control"
                                                 ng-model="ctrl.troublecode.url" required ng-minlength="2"
                                                 ng-maxlength="100" id="url"/><br/>
                </div>

                <div class="row">
                    <label>Definition : </label> <br/>
                    <textarea name='definition' class="form-control"
                              ng-model="ctrl.troublecode.detail.definition" required
                              id='definition' rows="3" cols="50"></textarea>
                    <br/>
                </div>

                <div class="row">
                    <label>Symptom : </label> <br/>
                    <textarea name='symtom' ng-model="ctrl.troublecode.detail.symptom" class="form-control"
                              required id='symtom' rows="3" cols="50"></textarea>
                    <br/>
                </div>

                <div class="row">
                    <label>Cause : </label> <br/>
                    <textarea name='cause' ng-model="ctrl.troublecode.detail.cause" class="form-control"
                              required id='cause' rows="3" cols="50"></textarea>
                    <br/>
                </div>

                <div class="row">
                    <label>Solution : </label> <br/>
                    <textarea name='solution' class="form-control"
                              ng-model="ctrl.troublecode.detail.solution" required id='solution'
                              rows="3" cols="50"></textarea>
                    <br/>
                </div>

                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit"
                               value="{{!ctrl.troublecode.id ? 'Add' : 'Update'}}"
                               class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                        <button type="button" ng-click="ctrl.reset()"
                                class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset
                            Form
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="lead">Liste des Trouble Codes </span>
        </div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>URL</th>
                    <th>Definition</th>
                    <th>Symptom</th>
                    <th>Cause</th>
                    <th>Solution</th>
                    <th width="20%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="t in ctrl.troublecodes">
                    <td><span ng-bind="t.id"></span></td>
                    <td><span ng-bind="t.code"></span></td>
                    <td><span ng-bind="t.description"></span></td>
                    <td><span ng-bind="t.url"></span></td>
                    <td><span ng-bind="t.detail.definition"></span></td>
                    <td><span ng-bind="t.detail.symptom"></span></td>
                    <td><span ng-bind="t.detail.cause"></span></td>
                    <td><span ng-bind="t.detail.solution"></span></td>
                    <td>
                        <button type="button" ng-click="ctrl.edit(t.id)"
                                class="btn btn-success">Edit
                        </button>
                        <button type="button" ng-click="ctrl.remove(t.id)"
                                class="btn btn-danger">Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div></div>

<style>
    .row{
        margin-left:15px !important;
        margin-right: 15px !important;
    }
    .form-actions{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .panel-default>.panel-heading{
        background-color: #209e91 !important;
        color: #ffffff !important;
    }
    .lead{
        line-height: 0px !important;
    }
    .btn-primary{
        background-color: #209e91 !important;
        border-color:  #209e91 !important;
    }
</style>