<div id="navbar" class="navbar navbar-default    navbar-collapse       h-navbar ace-save-state" ng-controller="MapController">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="index.html" class="navbar-brand">
                <small>
                    <!-- <i class="fa fa-leaf"></i> -->Micro Link
                </small>
            </a>
            <button class="pull-right navbar-toggle navbar-toggle-img collapsed" type="button" data-toggle="collapse"
                    data-target=".navbar-buttons,.navbar-menu">
                <span class="sr-only">Toggle user menu</span>
                <img src="assets/images/avatars/user.jpg" alt="Jason's Photo"/>
            </button>
            <button class="pull-right navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-buttons navbar-header pull-right  collapse navbar-collapse" role="navigation">
            <ul class="nav ace-nav">
                <li class="transparent dropdown-modal">
                    <!-- <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                    </a> -->
                    <div class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#navbar-tasks">Tasks<span
                                            class="badge badge-danger">4</span></a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#navbar-messages">Messages<span
                                            class="badge badge-danger">5</span></a>
                                </li>
                            </ul>
                            <!-- .nav-tabs -->
                            <div class="tab-content">
                                <div id="navbar-tasks" class="tab-pane in active">
                                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu">
                                        <li class="dropdown-content">
                                            <ul class="dropdown-menu dropdown-navbar">
                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">Software Update</span>
                                                            <span class="pull-right">65%</span>
                                                        </div>
                                                        <div class="progress progress-mini">
                                                            <div style="width:65%" class="progress-bar">
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">Hardware Upgrade</span>
                                                            <span class="pull-right">35%</span>
                                                        </div>
                                                        <div class="progress progress-mini">
                                                            <div style="width:35%"
                                                                 class="progress-bar progress-bar-danger">
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">Unit Testing</span>
                                                            <span class="pull-right">15%</span>
                                                        </div>
                                                        <div class="progress progress-mini">
                                                            <div style="width:15%"
                                                                 class="progress-bar progress-bar-warning">
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">Bug Fixes</span>
                                                            <span class="pull-right">90%</span>
                                                        </div>
                                                        <div class="progress progress-mini progress-striped active">
                                                            <div style="width:90%"
                                                                 class="progress-bar progress-bar-success">
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-footer">
                                            <a href="#">See tasks with details<i class="ace-icon fa fa-arrow-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.tab-pane -->
                                <div id="navbar-messages" class="tab-pane">
                                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu">
                                        <li class="dropdown-content">
                                            <ul class="dropdown-menu dropdown-navbar">
                                                <li>
                                                    <a href="#"><img src="assets/images/avatars/avatar.png"
                                                                     class="msg-photo" alt="Alex's Avatar"/><span
                                                            class="msg-body"><span class="msg-title"><span class="blue">Alex:</span> Ciao sociis natoque penatibus et auctor ...</span><span
                                                            class="msg-time"><i
                                                            class="ace-icon fa fa-clock-o"></i><span>a moment ago</span></span></span></a>
                                                </li>
                                                <li>
                                                    <a href="#"><img src="assets/images/avatars/avatar3.png"
                                                                     class="msg-photo" alt="Susan's Avatar"/><span
                                                            class="msg-body"><span class="msg-title"><span class="blue">Susan:</span> Vestibulum id ligula porta felis euismod ...</span><span
                                                            class="msg-time"><i
                                                            class="ace-icon fa fa-clock-o"></i><span>20 minutes ago</span></span></span></a>
                                                </li>
                                                <li>
                                                    <a href="#"><img src="assets/images/avatars/avatar4.png"
                                                                     class="msg-photo" alt="Bob's Avatar"/><span
                                                            class="msg-body"><span class="msg-title"><span class="blue">Bob:</span> Nullam quis risus eget urna mollis ornare ...</span><span
                                                            class="msg-time"><i
                                                            class="ace-icon fa fa-clock-o"></i><span>3:15 pm</span></span></span></a>
                                                </li>
                                                <li>
                                                    <a href="#"><img src="assets/images/avatars/avatar2.png"
                                                                     class="msg-photo" alt="Kate's Avatar"/><span
                                                            class="msg-body"><span class="msg-title"><span class="blue">Kate:</span> Ciao sociis natoque eget urna mollis ornare ...</span><span
                                                            class="msg-time"><i
                                                            class="ace-icon fa fa-clock-o"></i><span>1:33 pm</span></span></span></a>
                                                </li>
                                                <li>
                                                    <a href="#"><img src="assets/images/avatars/avatar5.png"
                                                                     class="msg-photo" alt="Fred's Avatar"/><span
                                                            class="msg-body"><span class="msg-title"><span class="blue">Fred:</span> Vestibulum id penatibus et auctor  ...</span><span
                                                            class="msg-time"><i
                                                            class="ace-icon fa fa-clock-o"></i><span>10:09 am</span></span></span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-footer">
                                            <a href="inbox.html">See all messages<i
                                                    class="ace-icon fa fa-arrow-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.tabbable -->
                    </div>
                    <!-- /.dropdown-menu -->
                </li>
                <li class="light-blue dropdown-modal user-min">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle"><img class="nav-user-photo"
                                                                                    src="assets/images/avatars/avatar4.png"
                                                                                    alt="Aymen BOUHASTINE"/><span
                            class="user-info">
                                    <small>
                                        Bienvenue,
                                    </small>
                                    Aymen
                                </span><i class="ace-icon fa fa-caret-down"></i></a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <!-- <li>
                        <a href="#">
                        <i class="ace-icon fa fa-cog"></i>
                        Settings
                        </a>
                        </li> -->
                        <li>
                            <a href="#"><i class="ace-icon fa fa-user"></i>Profil</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#"><i class="ace-icon fa fa-power-off"></i>Se déconnecter</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <nav role="navigation" class="navbar-menu pull-left collapse navbar-collapse">
            <form class="navbar-form navbar-left form-search" role="search">
                <div class="form-group">
                    <input type="text" placeholder="Rechercher"/>
                </div>
                <button type="button" class="btn btn-mini btn-info2">
                    <i class="ace-icon fa fa-search icon-only bigger-110"></i>
                </button>
            </form>
        </nav>
    </div>
    <!-- /.navbar-container -->
</div>
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
          try {
               ace.settings.loadState('main-container')
          }
          catch (e) {
          }
    </script>
    <div id="sidebar" class="sidebar      h-sidebar                navbar-collapse collapse          ace-save-state">
        <script type="text/javascript">
              try {
                  ace.settings.loadState('sidebar')
               }
               catch (e) {
               }
        </script>
        <ul class="nav nav-list">
            <li class="hover">
                <!-- class="active open hover" --><a href="index.html"><i class="menu-icon fa fa-tachometer"></i><span
                    class="menu-text">Trajets </span></a>
                <b class="arrow"></b>
            </li>
            <li class="hover">
                <a href="#" class="dropdown-toggle"><!-- <i class="menu-icon fa fa-desktop"></i> --><i
                        class="menu-icon fa fa-list-alt"></i><span class="menu-text">Entretiens</span>
                    <!-- <b class="arrow fa fa-angle-down"></b> --><b class="arrow"></b></a>
            </li>
            <li class="hover">
                <a href="#" class="dropdown-toggle"><i class="menu-icon fa fa-list"></i><span class="menu-text">Notes de frais (Km) </span>
                    <!-- <b class="arrow fa fa-angle-down"></b> --></a>
            </li>
            <li class="hover">
                <a href="#" class="dropdown-toggle"><i class="menu-icon fa fa-pencil-square-o"></i><span
                        class="menu-text">Fiches de diagnostics </span><!-- <b class="arrow fa fa-angle-down"></b> -->
                </a>
            </li>
        </ul>
        <!-- /.nav-list -->
    </div>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container">
                    <!-- <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                    <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div> -->
                    <div class="ace-settings-box clearfix" id="ace-settings-box">
                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <div class="pull-left">
                                    <select id="skin-colorpicker" class="hide">
                                        <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                        <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                        <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                        <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                    </select>
                                </div>
                                <span>&nbsp; Choose Skin</span>
                            </div>
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-navbar" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-navbar">
                                    Fixed Navbar
                                </label>
                            </div>
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-sidebar" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-sidebar">
                                    Fixed Sidebar
                                </label>
                            </div>
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-breadcrumbs" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-breadcrumbs">
                                    Fixed Breadcrumbs
                                </label>
                            </div>
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-rtl">
                                    Right To Left (rtl)
                                </label>
                            </div>
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-add-container" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-add-container">
                                    Inside<b>.container</b>
                                </label>
                            </div>
                        </div>
                        <!-- /.pull-left -->
                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-hover">
                                    Submenu on Hover
                                </label>
                            </div>
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-compact">
                                    Compact Sidebar
                                </label>
                            </div>
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-highlight">
                                    Alt. Active Item
                                </label>
                            </div>
                        </div>
                        <!-- /.pull-left -->
                    </div>
                    <!-- /.ace-settings-box -->
                </div>
                <!-- /.ace-settings-container -->
                <div class="page-header">
                    <h1>DASHBOARD</h1>
                </div>
                <!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="invisible">
                            <button data-target="#sidebar2" type="button" class="pull-left menu-toggler navbar-toggle">
                                <span class="sr-only">Toggle sidebar</span>
                                <i class="ace-icon fa fa-dashboard white bigger-125"></i>
                            </button>
                            <div id="sidebar2" class="sidebar responsive menu-min ace-save-state">
                                <ul class="nav nav-list">
                                    <li>
                                        <a href="#"><i class="menu-icon fa fa-tachometer"></i><span class="menu-text">Trajets </span></a>
                                        <b class="arrow"></b>
                                    </li>
                                    <li>
                                        <a href="#"><i class="menu-icon fa fa-list-alt"></i><span class="menu-text">Entretiens</span></a>
                                        <b class="arrow"></b>
                                    </li>
                                    <li>
                                        <a href="#"><i class="menu-icon fa fa-list"></i><span class="menu-text">Notes de frais (Km)<span
                                                title="" class="badge badge-transparent tooltip-error"
                                                data-original-title="2 Important Events"><!-- <i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i> --></span></span></a>
                                        <b class="arrow"></b>
                                    </li>
                                    <li>
                                        <a href="#"><i class="menu-icon fa fa-pencil-square-o"></i><span
                                                class="menu-text">Fiches de diagnostics </span></a>
                                        <b class="arrow"></b>
                                    </li>
                                </ul>
                                <!-- /.nav-list -->
                                <div class="sidebar-toggle sidebar-collapse">
                                    <i id="sidebar3-toggle-icon"
                                       class="ace-icon fa fa-angle-double-right ace-save-state"
                                       data-icon1="ace-icon fa fa-angle-double-left"
                                       data-icon2="ace-icon fa fa-angle-double-right"></i>
                                </div>
                            </div>
                            <!-- .sidebar -->
                        </div>
                        <div>
                            Indicateurs : fa-dashboard
                        </div>
                        <!-- <div id="map" style="width:100%;height:500px;"></div> -->
                        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
                        <!-- PAGE CONTENT ENDS -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
                <span class="bigger-120"><span class="blue bolder">Micro Link </span>Application &copy;
                    SmartO-2017</span>
                &nbsp; &nbsp;<span class="action-buttons"><a href="#"><i
                    class="ace-icon fa fa-twitter-square light-blue bigger-150"></i></a><a href="#"><i
                    class="ace-icon fa fa-facebook-square text-primary bigger-150"></i></a><!-- <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                            </a> --></span>
            </div>
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"><i
            class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i></a>
</div>
<!-- /.main-container -->
