<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />

    <title>MicroMink Board</title>

    <meta name="description" content="MicroMink Board" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- <link rel="stylesheet"
          href="./bower_components/bootstrap-css-only/css/bootstrap.css"/> -->
    <link href="./css/app.css" rel="stylesheet"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="./assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="./assets/css/ace.min.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="./assets/css/ace-part2.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="./assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="./assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="./assets/js/html5shiv.min.js"></script>
    <script src="./assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-app="myApp" class="login-layout light-login">
<!--
<div  class="container">
    <ul class="nav nav-pills" ng-controller="login as nav" role="tablist">
        <li ng-class="{active:nav.tab('home')}"><a href="#/">home</a></li>
        <li ng-class="{active:nav.tab('login')}"><a href="#/login">login</a></li>
        <li><a href="#/">Home</a></li>
        <li ng-class="{active:nav.tab('FirmwareController')}"><a href="#/firmwares">Firmwares</a></li>
        <li ng-class="{active:nav.tab('FirmwareController')}"><a href="#/attributes">Attributes</a></li>
        <li ng-class="{active:nav.tab('TroubleCodeController')}"><a href="#/troublecodes">Trouble Codes</a></li>
        <li ng-class="{active:nav.tab('SupportedPIDController')}"><a href="#/supportedPIDs">Supported PIDs</a></li>
        <!-- <li ng-class="{active:nav.tab('UserController')}"><a href="#/users">Users</a></li>
         <li ng-show="authenticated"><a href="" ng-click="nav.logout()">logout</a></li>
        <li ng-class="{active:nav.tab('AboutController')}"><a href="#/about">About</a></li>
    </ul>
</div> -->

<div ng-view></div>

<!-- <script type="text/javascript"
        src="./bower_components/jquery-1.12.4.min.js"></script> -->
<script src="./assets/js/jquery-2.1.4.min.js"></script>
<script src="./assets/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript"
        src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript"
        src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript"
        src="./bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript"
        src="./bower_components/angular-cookies.min.js"></script>

<script type="text/javascript"
        src="./bower_components/lodash.js"></script>

<script type="text/javascript"
        src="./bower_components/angular-simple-logger.min.js"></script>

<script type="text/javascript"
        src="./bower_components/angular-google-maps/angular-google-maps.min.js"></script>

<script type="text/javascript" src="./js/custom.js"></script>
<script type="text/javascript" src="./js/app.js"></script>

<script type="text/javascript" src="./js/controller/login.js"></script>
<script type="text/javascript" src="./js/controller/home.js"></script>

<script type="text/javascript" src="./js/controller/map.js"></script>

<script type="text/javascript" src="./js/controller/controllersFirmware.js"></script>
<script type="text/javascript" src="./js/service/servicesFirmware.js"></script>

<script type="text/javascript" src="./js/controller/controllersTroubleCode.js"></script>
<script type="text/javascript" src="./js/service/servicesTroubleCode.js"></script>

<script type="text/javascript" src="./js/controller/controllersSupportedPID.js"></script>
<script type="text/javascript" src="./js/service/servicesSupportedPID.js"></script>

<script type="text/javascript" src="./js/controller/controllersUser.js"></script>
<script type="text/javascript" src="./js/service/servicesUser.js"></script>

<script src='https://maps.googleapis.com/maps/api/js?sensor=false'></script>

</body>
</html>