<div class="generic-container" ng-controller="UserController as ctrl">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="lead">Gestion des Users : </span>
		</div>
		<div class="formcontainer">
			<form name="myForm" ng-submit="ctrl.submit()"
				enctype="multipart/form-data" class="form-horizontal">
				<div class="col-md-4" class="section">
					<legend>User Informations :</legend>
					<fieldset class="userInfo">
						<input type="hidden" ng-model="ctrl.user.id" />

						<div class="row">
							<label>First Name : </label> <input name="firstName" type="text"
								ng-model="ctrl.user.firstName" required ng-minlength="2"
								ng-maxlength="30" id="firstName" /><br />
						</div>

						<div class="row">
							<label>Last Name : </label> <input name="lastName" type="text"
								ng-model="ctrl.user.lastName" required ng-minlength="2"
								ng-maxlength="100" id="lastName" /><br />
						</div>

						<div class="row">
							<label>Age : </label> <input name="age" type="number"
								ng-model="ctrl.user.age" required ng-minlength="2"
								ng-maxlength="100" id="age" /><br />
						</div>

						<div class="row">
							<label>Adresse mail : </label> <input name="email" type="email"
								ng-model="ctrl.user.email" required ng-minlength="2"
								ng-maxlength="100" id="email" /><br />
						</div>

						<div class="row">
							<label>User Name : </label> <input name="userName" type="text"
								ng-model="ctrl.user.userName" required ng-minlength="2"
								ng-maxlength="30" id="userName" /><br />
						</div>

						<div class="row">
							<label>Mot de passe : </label> <input name="userName"
								type="password" ng-model="ctrl.user.password" required
								ng-minlength="2" ng-maxlength="30" id="userName" /><br />
						</div>
					</fieldset>
				</div>

				<div class="col-md-4">
					<legend>Vehicule Informations :</legend>
					<fieldset class="vehiculeInfo">
						<div class="row">
							<label>Vehicule Identification : </label> <input name="vin"
								type="text" ng-model="ctrl.vehicule.vin" required
								ng-minlength="2" ng-maxlength="30" id="vin" /><br />
						</div>

						<div class="row">
							<label>Modele : </label> <input name="lastName" type="text"
								ng-model="ctrl.vehicule.model" required ng-minlength="2"
								ng-maxlength="100" id="lastName" /><br />
						</div>

						<div class="row">
							<label>Marque : </label> <input name="userName" type="text"
								ng-model="ctrl.vehicule.mark" required ng-minlength="2"
								ng-maxlength="30" id="userName" /><br />
						</div>

						<div class="row">
							<label for="type">Type : </label> <select id="type"
								ng-model="ctrl.vehicule.type">
								<option value="car">Automobile</option>
								<option value="camion">Camion</option>
							</select><br />
						</div>
					</fieldset>
				</div>

				<div class="col-md-4">
					<legend>BLE Informations :</legend>
					<fieldset class="bleInfo">
						<div class="row">
							<label>Name : </label> <input name="name" type="text"
								ng-model="ctrl.ble.name" required ng-minlength="2"
								ng-maxlength="30" id="name" /><br />
						</div>

						<div class="row">
							<label>Address : </label> <input name="address" type="text"
								ng-model="ctrl.ble.address" required ng-minlength="2"
								ng-maxlength="100" id="address" /><br />
						</div>
					</fieldset>
				</div>


				<div class="row" class="col-md-12">
					<div class="form-actions floatRight">
						<input type="submit" value="{{!ctrl.user.id ? 'Add' : 'Update'}}"
							class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
						<button type="button" ng-click="ctrl.reset()"
							class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset
							Form</button>
					</div>
				</div>

			</form>
		</div>

	</div>

	<div class="panel panel-default">
		Default panel contents
		<div class="panel-heading">
			<span class="lead">Liste des Users : </span>
		</div>
		<div class="tablecontainer">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Adresse mail</th>
						<th>User Name</th>
						<th>Mot de passe</th>
						<th width="20%"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="u in ctrl.users">
						<td><span ng-bind="u.id"></span></td>
						<td><span ng-bind="u.firstName"></span></td>
						<td><span ng-bind="u.lastName"></span></td>
						<td><span ng-bind="u.email"></span></td>
						<td><span ng-bind="u.userName"></span></td>
						<td><span ng-bind="u.password"></span></td>
						<td>
							<button sype="button" ng-click="ctrl.edit(u.id)"
								class="btn btn-success custom-width">Edit</button>
							<button type="button" ng-click="ctrl.remove(u.id)"
								class="btn btn-danger custom-width">Remove</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
