<div class="modal-content" ng-controller="conductorController as conductorCtrl">
  <div class="modal-header bg-info">
    <i class="ion-information-circled modal-icon"></i><span> Information</span>
  </div>
  <div class="modal-body text-center">
    Etes Vous sure de vouloir supprimer cet utilisateur??
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss()">Annuler</button>
    <button type="button" class="btn btn-info"  ng-click="removeUser(contact)">Supprimer</button>

  </div>
</div>
